<div class="container-fluid" style=" border-top: solid 1px #450351; border-bottom: solid 1px #450351;">
    <div class="container">
        <div class="row">


        <div class="col-lg-6 col-md-12">
            <div class="freebrand" style="width: 100%; margin-top: 100px;">
               <span class="freebrand" style="font-family: PPMonumentEXT; font-weight: 200; ">Book a </span><span class="freebrand" style=" font-family: Helvetica Neue; font-weight: 300;"> </span><span class="freebrand" style=" font-family: PPMonument; font-weight: 800;  ">FREE BRAND CONSULTATION!</span>
            </div>
         <div class="row justify-content-start align-items-end">
        <img  class="justify-content-center align-items-end"  src="../../assets/img/imagen2.svg" style="max-height:50%; max-width: 50%; margin-top: 10%;">
         </div>

        </div>
        <div class="col-lg-4 col-md-12" id="formulario" style="background-color:rgba(196,161,224,0.2);">
         <h2 style="margin-bottom: 100px; font-family: PPMonument;">Contact</h2>

            <form>
                <div class="mb-3" >
                  <label for="exampleInputEmail1" class="form-label">Name</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail2" class="form-label">Phone Number</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail3" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
                  </div>



                <button type="submit" class="btn btn-primary w-auto btnrosado" style=" min-width:40%; margin-right: 10px;" >Yes, contact me now!</button>
              </form>

        </div>

        <div class="col-lg-2 col-md-0">

        </div>

    </div>
</div>
</div>
