
<div class="container" style="border: solid 1px #450351; border-bottom: none;  padding-right: 0px; padding-left: 0px;">
    <div class="row d-flex align-items-center mx-auto my-auto" style="margin: 0px; ">

      <div class="col-lg-6 col-md-12 row g-0 d-flex align-items-center justify-content-center" style=" padding: 0px; padding-top: 20px; height: 418px;">
        <h2 class="align-items-center ps-5" style="line-height: 10px;">Case studies</h2>
        <p class="ps-5"  style="padding-bottom: 0px; line-height: 10px;">meet our best works, a 360 view of the work we do</p>


           <!--START BTN-->
       <button (mouseenter)="onMouseEnter('../../../assets/img/homeportfolio3.png')" (mouseleave)="onMouseLeave()" style="padding-right: 0px;">

            <div class=" col-12 justify-content-center d-flex pt-3 pb-0" style=" border-top: solid 1px #450351;">
                <div class="col-10 row align-items-center">
                  <div class="col-8 ps-4 ">
                    <p class="textoportfolio  m-0 px-5" style="text-align: left;  " >BLT Mini Bodegas</p>
                    <p class="col-12 m-0 px-5 textoportfolio2" style="text-align: left;" >Self-storage Solutions</p>


                  </div>
                  <div class="imgporfhome"><img class="col-6" src="../../assets/img/arrow.png" /> </div>


              </div>

          </div>
        </button>
          <!--END BTN-->
           <!--START BTN-->
       <button (mouseenter)="onMouseEnter('../../../assets/img/homeportfolio2.png')" (mouseleave)="onMouseLeave()" style="padding-right: 0px;">

        <div class=" col-12 justify-content-center d-flex pt-3 pb-0" style=" border-top: solid 1px #450351;">
            <div class="col-10 row align-items-center">
              <div class="col-8 ps-4 ">
                <p class="textoportfolio  m-0 px-5" style="text-align: left;  " >Los Téves</p>
                <p class="col-12 m-0 px-5 textoportfolio2"  style="text-align: left;" >Digitisation of Television in Chile</p>


              </div>
              <div class="imgporfhome"><img class="col-6" src="../../assets/img/arrow.png" /> </div>


          </div>

      </div>
    </button>
      <!--END BTN-->
       <!--START BTN-->
       <button (mouseenter)="onMouseEnter('../../../assets/img/homeportfolio1.png')" (mouseleave)="onMouseLeave()" style="padding-right: 0px;">

        <div class=" col-12 justify-content-center d-flex pt-3 pb-3" style=" border-top: solid 1px #450351; border-bottom: solid 1px #450351;">
            <div class="col-10 row align-items-center">
              <div class="col-8 ps-4 ">
                <p class="textoportfolio  m-0 px-5" style="text-align: left; " >Naan Sense</p>
                <p class="col-12 m-0 px-5 textoportfolio2" style="text-align: left;" >Indian Restaurant Social media</p>


              </div>
              <div class="imgporfhome"><img class="col-6" src="../../assets/img/arrow.png" /> </div>


          </div>

      </div>
    </button>
      <!--END BTN-->


          <div class="px-1 py-1 bg-white  col-12 d-flex">
              <div class="px-1 py-1 col-12 justify-content-center align-items-center" style="text-align: center;">
                <button class="btn btn-primary w-auto  btnportfolio" style="  text-align: center;" type="button" routerLink="/portfolio">Go to Portfolio</button>
              </div>
          </div>
      </div>

        <div class=" col-lg-6  col-md-12"  style="  overflow: hidden; padding-left: 0px;  background-color: aqua;height: 418px; border-left:solid 1px #450351">

            <img *ngIf="showImage" [src]="currentImage" alt="Hovered Image" style="width: auto; height: auto; overflow: hidden;" />


        </div>



</div>
 </div>
