
button{background-color: white;
border: none;
padding-left: 0px;}
.textoportfolio{
    font-family: RiskGroteskCompact; font-weight: 100;
   color: #450351;
   font-size: 28px;
   line-height: 30px;

  }
  .textoportfolio2{
   color: #450351;
   font-size: 16px;
   line-height: 20px;

  }
 .imgporfhome{

  float: right; display: inline; max-width: 100px;
 }
  p {

    font-family: 'HelveticaNeve', light;
    font-weight: 100;

    color: #450351;

  }
  .btnportfolio{
    width: auto;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 30px;
    border: solid 1px #450351;
    color: #450351;
    background-color: white;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;

  }
  .btnportfolio:hover{

    color: #fff;
    background-color: #450351;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;

  }




    a {text-decoration: none;}
   h2{

      color: #4C0054;
      font-size: 2vw;
      font-family: PPMonument;
      font-weight: 900;
      line-height: 40px;
      word-wrap: break-word;


   }
   @media only screen and (max-width: 1400px) {
    .textoportfolio{
      font-size: 22px;
    }
    .textoportfolio2{
      font-size: 14px;
    }
   }
   @media only screen and (max-width: 1200px) {
    .textoportfolio{
      font-size: 20px;
      padding-left: 0px!important;
    }
    .textoportfolio2{
      font-size: 12px;
      padding-left: 0px!important;
    }
   }
   @media only screen and (max-width: 768px) {


    .imgporfhome img{

 max-width: 60px;
     }


   }
