
<div class="container" style="border: solid 1px #450351; border-bottom: none; ">
    <div class=" row align-items-end" style="margin-right: -38px;">
      <div class="col-xl-6 row" style="padding-right: 0px;">
        <h2 style="margin-top: 0px;  margin-left: 20px;">Case studies</h2>
        <p style="margin-left: 20px; padding-bottom: 40px;">meet our best works, a 360 view of the work we do</p>
          <div class="px-1 py-1 col-12 justify-content-center d-flex " style=" height: 150px; border-top: solid 1px #450351;">
              <a href="#" style="height: 130px; padding-top:30px;">
                <div class="col-10 row align-items-center">
                  <div class="col-8 row">
                    <p class="textoportfolio fs-3  m-0 px-3 pt-2">Fluoresencia</p>
                    <p class="fs-6 col-12 m-0 px-3 pb-2" >Company type</p>


                  </div>
                  <div class="imgporfhome"><img class="col-xl-6" src="../../assets/img/arrow.png" /> </div>


              </div>
            </a>
          </div>

          <div class="px-1 py-1 col-12 justify-content-center d-flex " style=" height: 150px; border-top: solid 1px #450351;">
            <a href="#" style="height: 130px; padding-top:30px;">
              <div class="col-10 row align-items-center">
                <div class="col-8 row">
                  <p class="textoportfolio fs-3  m-0 px-3 pt-2">Fluoresencia</p>
                  <p class="fs-6 col-12 m-0 px-3 pb-2" >Company type</p>


                </div>
                <div class="imgporfhome"><img class="col-xl-6" src="../../assets/img/arrow.png" /> </div>


            </div>
          </a>
        </div>


        <div class="px-1 py-1 col-12 justify-content-center d-flex " style=" height: 150px; border-top: solid 1px #450351;">
          <a href="#" style="height: 130px; padding-top:30px;">
            <div class="col-10 row align-items-center">
              <div class="col-8 row">
                <p class="textoportfolio fs-3  m-0 px-3 pt-2">Fluoresencia</p>
                <p class="fs-6 col-12 m-0 px-3 pb-2" >Company type</p>


              </div>
              <div class="imgporfhome"><img class="col-xl-6" src="../../assets/img/arrow.png" /> </div>


          </div>
        </a>
      </div>



          <div class="px-1 py-1 bg-white  col-12 d-flex" style="height: 180px; border: solid 1px #450351; border-bottom: none; border-left: none;">
              <div class="px-1 py-1 col-12 justify-content-center align-items-center" style="text-align: center;">
                <button class="btn btn-primary w-auto  btnportfolio" style=" margin-top: 60px;  text-align: center;" type="button" routerLink="/portfolio">Go to Portfolio</button>
              </div>
          </div>
      </div>
      <div class="col-6" style="background-color: #8EFFD5; background-image: url('../../assets/img/fluorescencia.png'); background-size: cover; height: 845px; background-position: bottom;"></div>

  </div>
  </div>
