

<div class="container-flex" style="border-bottom: solid 1px #4C0054;">
 
  <div id="mainnav" class="container">
    <header class="d-flex justify-content-center py-3"  >
      <a href="#" class="nav-link navbar-brand logosmall"><img src="../../assets/img/logosmall.svg"></a>
      
      <nav class="navbar navbar-expand-md ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

     <div class="collapse navbar-collapse" id="collapsibleNavbar">
  
      <ul class="nav nav-pills" >
        <li class="nav-item"><a routerLinkActive="active" routerLink="/portfolio" class="nav-link" >Portfolio</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/services">Services</a></li>
        <li ><a  routerLink="/home" class="nav-link navbar-brand"><img src="../../assets/img/logo.svg"></a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/casestudies">What we do</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/team">Our team</a></li> 
        <li class="nav-item " id="btnheader"><a href="#" class="nav-link">Contact</a></li> <!--MODAL BOX-->

      </ul>

      </div>
    </nav>
    </header>
  </div>

  </div>

