<div class="container-fluid mx-auto justify-content-center align-items-center fixed-top" style="border-bottom: solid 1px #4C0054; height: 80px; background-color: white; z-index: 998;">
  <div id="mainnav" class="container p-0 d-flex justify-content-center align-items-center">
    <header class="d-flex w-100 p-0 py-2 justify-content-between align-items-center">
      <nav class="navbar navbar-expand-md navbar-light w-100 m-0 justify-content-center">
        <a href="" routerLink="/home">
          <img id="logomovil" src="../../assets/img/logo.svg" class="p-0" style="text-align: left;">
        </a>
        <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-left: 47px; box-shadow: none; border: none;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse d-none d-md-block" id="navbarToggleExternalContent" #navbarCollapse>
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a routerLinkActive="active" routerLink="/portfolio" class="nav-link" (click)="closeMenu()">Portfolio</a></li>
            <li class="nav-item"><a routerLink="/services" class="nav-link" (click)="closeMenu()">Services</a></li>
            <li class="nav-item"><a routerLink="/home" class="nav-link navbar-brand" (click)="closeMenu()"><img src="../../assets/img/logo.svg"></a></li>
            <li class="nav-item"><a routerLink="/casestudies" class="nav-link" (click)="closeMenu()">Case Studies</a></li>
            <li class="nav-item"><a routerLink="/team" class="nav-link" (click)="closeMenu()">Our Team</a></li>
            <li class="nav-item"><a class="nav-link"  id="btnheader"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="closeMenu()">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</div>

<div style="margin-top: 80px;"></div>

<div [ngbCollapse]="isCollapsed" class="collapse" id="navbarToggleExternalContent" style="position: fixed; background-color: white; z-index: 999; width: 100%;" #navbarCollapse>
  <div class="p-4 justify-content-end align-items-end">
    <ul class="nav nav-pills align-items-end mx-auto">
      <li class="nav-item"><a routerLinkActive="active" routerLink="/portfolio" class="nav-link" (click)="closeMenu()">Portfolio</a></li>
      <li class="nav-item"><a routerLink="/services" class="nav-link" (click)="closeMenu()">Services</a></li>
      <li class="nav-item"><a routerLink="/casestudies" class="nav-link" (click)="closeMenu()">Case Studies</a></li>
      <li class="nav-item"><a routerLink="/team" class="nav-link" (click)="closeMenu()">Our Team</a></li>
      <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact</a></li>
    </ul>
  </div>
</div>
<app-modal></app-modal>
