

<div class="container-flex" style="border-bottom: solid 1px #4C0054; ">

  <div id="mainnav" class="container p-0">
    <header class="d-flex p-0  py-3 justify-content-center" style="background-color: white!important;" >

      <nav class="navbar navbar-expand-md navbar bg-body-tertiary justify-content-center p-0" style="background-color: white!important; margin-left: 0px;">
   <a href="" routerLink="/home"> <img id="logomovil" src="../../assets/img/logo.svg" class="justify-content-center p-0" style="text-align: centre; position: relative;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="position: absolute; right: 10px;">
          <span class="navbar-toggler-icon"></span>
        </button>

     <div class="offcanvas offcanvas-end" id="offcanvasNavbar">

      <ul class="nav nav-pills" >
        <li class="nav-item"><a routerLinkActive="active" routerLink="/portfolio" class="nav-link"  >Portfolio</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/services">Services</a></li>
        <li ><a  routerLink="/home" class="nav-link navbar-brand"><img src="../../assets/img/logo.svg"></a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/casestudies">Case studies</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/team">Our team</a></li>
        <li class="nav-item " id="btnheader"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact</a></li> <!--MODAL BOX-->

      </ul>

      </div>

    </nav>
    </header>
  </div>

  </div>
  <div class="collapse" id="navbarToggleExternalContent" >
    <div class=" p-4">
      <ul class="nav nav-pills" >
        <li class="nav-item"><a routerLinkActive="active" routerLink="/portfolio" class="nav-link"  >Portfolio</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/services">Services</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/casestudies">Case Studies</a></li>
        <li class="nav-item"><a href="#" class="nav-link" routerLink="/team">Our team</a></li>
        <li class="nav-item "><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact</a></li> <!--MODAL BOX-->

      </ul>
    </div>
  </div>
  <app-modal></app-modal>
