<div class="container-fluid" style="background-color: #450351; ">


                <div class=" row p-0 justify-content-center d-flex"  >
                    <!-- Left Side Content -->

                        <div class="d-flex row" style=" height: 100%;">



                            <div class="col-xxl-3 offset-xxl-1 col-xl-3 offset-xl-1 col-lg-3 offset-md-1 col-md-3 offset-sm-0 col-sm-12 offset-lg-1 pt-3 text-center" style="text-align: center; align-items: center;">

                                <img src="../../assets/img/logowhite.svg"  id="logofooter">

                            </div>
                            <div id="footercenter" class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 align-bottom p-xl-5 p-sm-3  justify-content-center">
                            <div id="menucenter" class="pt-3">
                                <h2 style="color: white;">Give us a whistle!</h2>
                            <p><a href="mailTo:hello@pinkdogstudio.com" >hello&#64;pinkdogstudio.com</a></p>
                            <p><a href="tel:+61 433 288 751">SYD +61 433 288 751</a></p>
                            <p><a href="tel:+56 9 3708 8574">SLC +56 9 3708 8574</a></p>
                            <div class="d-grid gap-2 pb-xl-4 pb-sm-0 px-xxl-5 mx-xxl-5">
                                <button class="btn btn-primary btnverde justify-content-center mx-auto " type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Contact</button>
                              </div>

                            </div>
                            </div>

                            <div class="col-xxl-4 col-xl-3 col-lg-4 offset-md-0 col-md-4 col-sm-8 offset-sm-3 offset-lg-0  align-bottom pt-3" >
                            <div class="row justify-content-center align-items-center">
                                <div class="col-3 offset-xxl-2 offset-lg-2  text-start footerlinks footerlinks1">
                                    <a routerLink="/portfolio">Portfolio</a> <br>
                                    <a routerLink="/services">Services</a> <br>

                                </div>
                                <div class="col-4 col-sm-5  text-start footerlinks footerlinks2">
                                    <a routerLink="/casestudies">Case Studies</a> <br>
                                    <a routerLink="/team">Our Team</a> <br>


                                  </div>
                                </div>


                                <div class="d-flex pt-4 col-xxl-9 col-xl-8 col-md-11 offset-xxl-0 offset-xl-2 offset-lg-1   offset-md-1 offset-sm-0  pb-4 justify-content-center align-items-center mx-auto">
                                    <div class="col-lg-2 col-md-2">  <a href="https://www.instagram.com/pnkdog/" class="footericons" target="_blank" style="margin-left: 7px;"><i class="bi bi-instagram"></i></a></div>
                                    <div class="col-lg-2 col-md-2"><a href="https://www.linkedin.com/company/pinkdogstudio/" target="_blank" class=" footericons"><i class="bi bi-linkedin" ></i></a></div>
                                    <div class="col-lg-2 col-md-2"> <a href="https://www.google.com/search?q=pink+dog+studio&rlz=1C5CHFA_enCL952CL952&oq=pink+dog+studi&gs_lcrp=EgZjaHJvbWUqCQgAEEUYOxiABDIJCAAQRRg7GIAEMgYIARBFGDkyCAgCEAAYFhgeMg0IAxAAGIYDGIAEGIoFMg0IBBAAGIYDGIAEGIoFMg0IBRAAGIYDGIAEGIoFMgYIBhBFGDwyBggHEEUYPagCALACAA&sourceid=chrome&ie=UTF-8" class="footericons" target="_blank"><i class="bi bi-google"></i></a></div>
                                    <div class="col-lg-2 col-md-2"> <a href="https://vimeo.com/pinkdog" class="footericons" target="_blank" ><i class="bi bi-vimeo"></i></a></div>

                                  </div>




                            </div>








                </div> <!-- Bottom Content -->

            </div>



            <div  class="row d-flex" style="border-top: solid 1px white; height: 80px; line-height: 40px; text-align: center;">

                <div class="col-md-12 d-flex justify-content-center" >

                    <div class=" justify-content-center  px-md-2 px-lg-4 px-sm-0  pt-3"> <a href="#" class="text-white" style="opacity: 50%;">Copyright © 2024 • Pink Dog</a> </div>

                </div>

            </div>

        </div>


