a{
   color: white;
   text-decoration: none;
   font-family: HelveticaNeve;
}
a:hover{
   color: #E8FF48;
   -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
p{   color: #4C0054;
   font-size: 16px;
   font-family: HelveticaNeve;
   font-weight: 100;
   word-wrap: break-word;
   margin-bottom: 20px;

 }
 h2 {line-height: 28px;}
 .btnverde{
   -webkit-transition: background-color 500ms linear;
   -ms-transition: background-color 500ms linear;
   transition: background-color 500ms linear;
   width: 100%;
 }
.footerlinks{

   margin-top: 42px;
   margin-left: 60px;


   line-height: 40px;
}
#footercentre{
  border-left:solid 1px white;border-right:solid 1px white; text-align: start;
}
.footericons{

   margin-left: 0px;
   margin-right: 0px;


}
.footericons1{

   margin-left: 26px;
   margin-right: 0px;


}
#logofooter{
   margin-right: 120px; margin-top: 40px; max-height:160px; max-width: 200px;
}
@media only screen and (max-width: 1200px) {


 h2 {font-size: 26px;}

 .footericons{

   margin-left: 10px;
   margin-right: 10px;


}
.footericons1{

   margin-left: 26px;
   margin-right: 10px;


}
.footerlinks{

   margin-left: 40px;

}
#logofooter{
   margin-right: 20px; margin-top: 40px; max-height:120px; max-width: 160px;
}
 }

 @media only screen and (max-width: 768px) {
  .footerlinks{margin-left: 10px;}
 #logofooter{
  margin-right: 0px; margin-top: 40px;
  max-height:160px; max-width: 200px;
}
.btnverde {max-width: 200px;}
#menucenter{

  text-align: center!important;

}
#footercentre{
  border-left:none ;border-right:none; text-align: start;
}
}
