

<div class=" row justify-content-center align-items-center pt-5 m-0 px-0" style="margin-bottom: 40px; margin-top: 40px;">
  <div class="pill" style="text-align: center;" >Case study</div>
  <h2 class="text-center col-12 m-0 px-3 py-2" style="font-family:PPMonument; font-size: 48px; ">BLT Mini Bodegas</h2>
  <p class="text-center text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 pb-4">Self-storage Solutions</p>
</div>
<app-portfoliocarousel [activeSlideIndex]="0"></app-portfoliocarousel>
<div class=" container-fluid">
<div class="row" style="border-bottom: 1px solid #4C0054;">
    <div class="p-4 col-xxl-6 d-flex align-items-center align-middle justify-content-center noborder" style="border-top: none!important; height: auto; border-right: solid 1px #4C0054; ">
        <div class="col-md-8 row align-items-center justify-content-center mx-auto my-auto" >
            <div class="col-12 row d-flex " >
                <h2 class="fs-2 col-12 m-0 py-2">Project <br>Background</h2>
                <p class="text-dark fs-6 fw-light  col-12 m-0 py-2">BLT Mini Bodegas is a well-established self-storage company based in Santiago, Chile.<br><br>

                  For the last few years BLT had enjoyed a real boom in sales.
                  So much so, that they decided to open a fourth facility in the suburb of Quilín, Santiago.<br><br>

                  This new facility would be the largest to date and would serve as the flagship branch for the company.<br><br>

                  This meant it needed to stand out. Not just for its ample storage space and eye-catching design, but for its sustainability and commitment to reducing the environmental impact of their business.<br><br>

                  The challenge was a biggie, but luckily BLT knew just the dog for the job.<br><br>

                  Pink Dog.<br></p>
            </div>

        </div>
    </div>
    <div class="col-xxl-6 col-sm-12 px-0">
    <div class="col-xxl-12 col-sm-12 py-0" style="background-image: url('../../../assets/img/portfolio/case1.png'); border-left: none!important;border-top: none!important; background-size: cover; background-position-x:left; background-position-y:top; background-repeat: no-repeat; height: 670px;" ></div>
  </div>
</div>
</div>




<div class="px-1 offset-md-3 col-md-6 noborder"  >
  <div class="p-4 col challengue">
      <h2 class="text-dark fs-2 font-family-PP Monument Extended col-12 m-0 px-3">The Challenges</h2><br>
      <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">As you’d expect with an operation this size, there were a number of challenges that needed to be addressed.<br><br>

        1.Their business had outgrown their existing premises, and they needed a new facility to cater for the rapid expansion.<br><br>
        2.The current wayfinding navigation was confusing, (a real problem when you’re dealing with large storage spaces,) it lacked consistency and did not really convey their brand.<br><br>
        3.The website was needlessly complex and made it difficult for customers to understand their offerings or make payments and enquiries.<br><br>
        4.TOV was inconsistent across their customer communications.<br><br>
        5.Their website used stock photography which didn’t accurately reflect  facilities & services.<br><br>
        6.They used their in-facility offices as a space to sell services to new customers. But the space itself was not inviting, comfortable or conducive to doing business.</p>
  </div>
</div>






<!-- container-->
<!-- container-->
<div class="container-fluid">
  <div class="row" style="border-bottom: solid 1px #4C0054; border-top: solid 1px #4C0054;">
    <div class="col-md-6 col-sm-12 p-0 noborder" style="border-right: solid 1px #4C0054;">
      <div class="col-12 align-items-center d-flex justify-content-end" style="text-align: right; border-bottom: solid 1px #4C0054;">
        <div class="col-xl-6 col-md-10 pt-5 pb-5 px-5 row align-items-end justify-content-center d-flex offset-xl-3 offset-md-1 p-0 m-0" style="text-align: right; float: right;">
          <h2>The Solution</h2>
          <p class="text-end text-dark fs-6 fw-light col-12 m-0 px-3 py-2">
            Being a working dog, Pink Dog is always up for some hard graft, and without hesitation we flung ourselves straight into the biggest job of all. The design and build of the new facility.
            Environmental sustainability was a key component to this task, and, to this end, we worked closely with BLT to design and create an entirely new facility out of entirely recycled materials.
            In this case, a heap of old shipping containers. 306 of them to be precise.
          </p>
        </div>
      </div>

      <div class="col-12 align-items-end align-middle justify-content-end  d-only-sm-flex p-0">
        <div id="columna1" class="col-md-4 col-sm-12 offset-0 align-items-center justify-content-center align-middle my-auto order-md-1 order-sm-2 order-2">
          <p class="col-sm-12 text-dark fs-6 fw-light m-0 px-5 py-5 justify-content-center align-middle">
            The refurbished in-facility offices were a roaring success, providing a comfortable and welcoming space for the team to work and serve customers.
          </p>
        </div>
        <div id="columna2" class="col-md-6 col-sm-12 align-items-end order-md-2 order-sm-1 order-1">
      <img src="../../../assets/img/portfolio/photol1.png" class="my-auto justify-content-center align-items-center" style="width: 100%;">
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 pt-5">
      <div class="col-md-12 row d-flex">
        <div class="col-xl-6 col-md-10 flex-column d-flex p-3">
          <p class="text-dark fs-6 fw-light col-12 col-md-12 m-0 px-5 py-2">
            These were stacked and arranged to create a 6 Story, 13,000m2 facility, the largest of its kind in South America.
          </p>
        </div>
      </div>
      <div class="col-md-12 row p-5">
        <div class="col-xl-6 col-md-10 col-sm-12" style="background-image: url('../../../assets/img/portfolio/photor1.png'); width: 334px; height: 548px; background-size: contain; background-repeat: no-repeat;">
        </div>
        <p class="text-dark fs-6 fw-light col-xxl-4 col-md-10 col-sm-12 px-3 py-2">
          Once the containers were in place, we applied a stylish skin to the building to give a feeling of uniformity.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- container-->





<app-carouselcasestudies></app-carouselcasestudies>



<!-- container-->

<div class=" container-fluid">

  <div class=" row" style="border-bottom:solid 1px #4C0054; border-top:solid 1px #4C0054;">
      <div class="col-xl-6 col-sm-12 p-0 m-0" style="border-right:solid 1px #4C0054; padding-right: 0px;" >

          <div class=" col-md-12 align-items-end d-flex" style="text-align: right; border-bottom:solid 1px #4C0054;">
              <div id="columna3" class="col-xl-6 col-md-10 col-sm-12 pt-4 pb-5 p-md-0 p-sm-5  row align-items-end d-flex offset-xl-3 offset-md-1" style=" text-align: right; float: right; ">
                  <h2>The Solution cont.</h2>
                  <p class="text-end text-dark fs-6 fw-light  col-12  m-0 px-3 py-2">Being a working dog, Pink Dog is always up for some hard graft, and without hesitation we flung ourselves straight into the biggest job of all. The design and build of the new facility.
                    With construction finished on the facility, it was time for us to do a spot of demolition and rebuilding on the BLT website.

                    We removed large chunks of the site that were needlessly convoluted and replaced them with an easily navigable Ui that clearly highlighted BLT’s services, locations, customer reviews, storage sizing charts and, of course, prices.

                    We also took the opportunity to add a simple back end to the website to take care of payments and customer accounts.</p>
              </div>
          </div>



          <div class="row col-12 align-items-end align-middle justify-content-end d-flex p-0 m-0" style="padding: 0px;">
              <div id="columna4" class="col-md-4 col-sm-12 offset-0 p-lg-1 p-sm-5 align-items-center justify-content-center align-middle my-auto" >
                  <p class=" text-dark fs-6 fw-light m-0 px-3 py-4 justify-content-center align-middle">BLT were impressed. So impressed in fact, that they even asked us to help develop photographic and video content for their new website to showcase their offerings.</p>

              </div>

              <div id="bltimgl2" class="col-md-6 col-sm-12 align-items-end" style="  background-image: url('../../../assets/img/portfolio/photol2.png'); background-size: cover; height:550px; float: right; text-align: right; padding: 0px;" > </div>

          </div>
      </div>




      <div class="col-xxl-6 col-sm-12 pt-5">
          <div class="col-md-12 row d-flex">
              <div id="columna5" class="col-lg-6 col-md-10 flex-column d-flex p-3">
                  <p class="text-dark fs-6 fw-light  col-12 m-0 px-5 py-2">As we did all this, it became clear that there was a very real need for a consistent brand TOV document to help BLT’s team with messaging, social media and advertising.</p>
              </div>
          </div>
          <div id="columna6" class="col-xl-12  row p-5">
              <div class="col-xl-6 col-md-6 col-sm-12" style="background-image: url('../../../assets/img/portfolio/photor2.png'); width: 334px; height: 548px; background-size: contain; background-repeat: no-repeat;"></div>
              <p class="text-dark fs-6 fw-light  col-md-12 col-sm-12 m-0 px-3 py-2">Well, being the versatile and multi-skilled pooch that we are, we took this on and delivered a tov guide to strengthen branding and create consistency across media touch-points</p>
          </div>
      </div>
  </div>
</div>


<!-- container-->







<!--container-->



<div class="container-fluid" >

    <div class=" row d-flex align-items-center align-middle justify-content-center" style="border: solid1px #4C0054;">
        <div class="px-1  col-xxl-4 col-md-4 offset-xxl-1 offset-md-1 py-0 pt-4  ">
            <h2 class=" fs-2  m-0 px-3 py-2" style="text-align: left;">The Results</h2>
            <p class=" fs-6 fw-light  m-0 px-3 py-2 " style="text-align: left;">A self-storage company that was absolutely delighted.

              They loved their eye-catching and environmentally sustainable facility and were thrilled (and, truth be told, massively relieved) to have a simplified wayfinding system that made their customers’ lives easier.

              The newly designed website also met with universal acclaim. Staff were overjoyed to finally have a site for promoting their services, establishing brand credibility, increasing visibility and facilitating lead generation.

              The refurbished in-facility offices were also a roaring success, providing a comfortable and welcoming space for the team to work and serve customers.</p>
        </div>
        <div class="col-xxl-1 col-md-1" style="border-right: solid 1px #4C0054;"></div>


        <div class="col-xxl-6 col-md-6" style="text-align: right; background-image: url('../../../assets/img/portfolio/photor3.png'); background-size: cover; min-height: 744px;">


        </div>
    </div>



</div>

<!--container-->





<!--container-->



<div class="container-fluid" >

  <div class=" row d-flex flex-row-reverse align-items-center align-middle justify-content-center" style="border: solid1px #4C0054;">
      <div class="px-1 pt-4  col-xxl-5 col-md-5 ">
          <h2 class=" fs-2  m-0 px-3 py-2" style="text-align: left;">Project Impact</h2>
          <p class=" fs-6 fw-light  m-0 px-3 py-2 col-md-10 col-sm-12 " style="text-align: left;">On the strength of this new facility, BLT secured themselves a $60M USD investment in the business through an investment fund managed by Banchile.

            This in turn has allowed BLT to commence plans for a further 12 new facilities across the Santiago Metropolitan region.

            All of which has enabled them to be the undisputed top dog in South America’s self-storage industry. BRAVO!!!

            And speaking of top dogs, if you have a project or commission you’d like to bring to life, then give us a whistle.</p>
      </div>
      <div class="col-xxl-1 col-md-1" style="border-left: solid 1px #4C0054;"></div>


      <div class="col-xxl-6 col-md-6 " style="text-align: right; background-image: url('../../../assets/img/portfolio/photol3.png'); background-size: cover; min-height: 744px;">


      </div>
  </div>



</div>

<!--container-->



<div class="divider" style="border-top: solid 1px #4C0054;"></div>

<app-home-brand-consultation></app-home-brand-consultation>
<div class="divider" style="border-bottom: solid 1px #4C0054;"></div>




