<app-portfoliocarousel></app-portfoliocarousel>
<div class=" container-fluid">
<div class=" row">
    <div class="px-1 col-xxl-6 d-flex align-items-center align-middle justify-content-center" style="border-top: none!important; height: 670px; border-right: solid 1px #4C0054;">
        <div class="col-md-8 row align-items-center ">
            <div class="col-12 row d-flex ">
                <h2 class="fs-2 col-12 m-0 px-3 py-2">Title text</h2>
                <p class="text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Lorem ipsum dolor sit amet consectetur. Amet nulla felis nulla enim. Ipsum ultricies tortor auctor arcu enim arcu duis sit. Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Nec tempus in tortor tincidunt id magnis faucibus.<br><br>       Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat.<br></p>
            </div>
            <div class="col-12 row d-flex">
                <div class="col-12 row align-items-center">
                    
                    <p class="text-dark fs-3  col-9 m-0 px-3 py-2 subtitulo" > <img src="../../../assets/img/portfolio/caselogo.svg" class="caselogo" >Brand Identity</p>
                </div>
                <div class="col-11 row align-items-center">
                    <p class="text-dark fs-3 col-9 m-0 px-3 py-2 subtitulo"> <img src="../../../assets/img/portfolio/caselogo.svg"  class="caselogo">Digital Design</p>
                </div>
                <div class="col-12 row align-items-center">
                    <p class="text-dark fs-3  col-9 m-0 px-3 py-2 subtitulo"> <img src="../../../assets/img/portfolio/caselogo.svg" class="caselogo">Retail In-Store</p>
                </div>
                <div class="col-10 row align-items-center">
                    <p class="text-dark fs-3  col-9 m-0 px-3 py-2 subtitulo"> <img src="../../../assets/img/portfolio/caselogo.svg" class="caselogo">Web Design</p>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-dark col-xxl-6 py-0" style="background-image: url('../../../assets/img/portfolio/case1.png'); border-left: none!important;border-top: none!important; background-size: contain; background-position-x:left; background-position-y:center; background-repeat: no-repeat;" ></div>
</div>
</div>



<div class=" container-fluid">

    <div class=" row" style="border-bottom:solid 1px #4C0054; border-top:solid 1px #4C0054;">
        <div class="col row " >
            <div class="p-1  col-md-12 align-items-end d-flex" style="text-align: right; border-bottom:solid 1px #4C0054; border-right:solid 1px #4C0054;">
                <div class="col-md-6 row align-items-end d-flex offset-xl-3" style=" text-align: right; float: right;">
                    <h2>Title text</h2>
                    <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Lorem ipsum dolor sit amet consectetur. Amet nulla felis nulla enim. Ipsum ultricies tortor auctor arcu enim arcu duis sit. Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Nec tempus in tortor tincidunt id magnis faucibus.        Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat.</p>
                </div>
            </div>
            <div class="col-md-12 justify-content-center align-items-end d-flex" style="border-right: solid 1px #4C0054;">
                <div class="col-md-8 row align-items-center">
                    <p class="text-dark fs-6 fw-light font-family-Helvetica Neue col-4 m-0 px-3 py-2">Lorem ipsum dolor sit amet consectetur. Amet nulla felis nulla enim. Ipsum ultricies tortor auctor arcu enim arcu duis sit.</p>
                    <img class=" col-7" src="../../../assets/img/portfolio/photol1.png" />
                </div>
            </div>
        </div>
        <div class="col row">
            <div class="col-md-12 row d-flex">
                <div class="p-1 bg-white col-md-12"></div>
                <div class="col-md-6 flex-column d-flex">
                    <p class="text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Lorem ipsum dolor sit amet consectetur. Amet nulla felis nulla enim. Ipsum ultricies tortor auctor arcu enim arcu duis sit.Lorem ipsum dolor sit amet consectetur. Amet nulla felis nulla enim. Ipsum ultricies tortor auctor arcu enim arcu.</p>
                </div>
            </div>
            <div class="col-md-8 row">
                <img class=" col-7" src="../../../assets/img/portfolio/photor1.png" />
                <p class="text-dark fs-6 fw-light font-family-Helvetica Neue col-4 m-0 px-3 py-2">Lorem ipsum dolor sit amet consectetur. Amet nulla felis nulla enim. Ipsum ultricies tortor auctor arcu enim arcu duis sit.</p>
            </div>
        </div>
    </div>

</div>




<div class="container-fluid" style="background-image: url('../../../assets/img/portfolio/photobottom1.png'); height:743px; background-size: contain;">


</div>

<div class="container-fluid">

    <div class=" row " style="border: solid1px #4C0054;">
        <div class="px-1  col-xxl-4 offset-xl-1 " style="float: left; ">
            <h2 class=" fs-2  col-md-12 m-0 px-3 py-2" style="text-align: left;">Title of text</h2>
            <p class=" fs-6 fw-light col-md-12 m-0 px-3 py-2 " style="text-align: left;">Lorem ipsum dolor sit amet consectetur. Amet nulla felis nulla enim. Ipsum ultricies tortor auctor arcu enim arcu duis sit. Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Nec tempus in tortor tincidunt id magnis faucibus.    Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Nec tempus in tortor tincidunt id magnis faucibus.</p>
        </div>
        <div class="col-1" style="border-right: solid 1px #4C0054;"></div>
        

        <div class="col-xxl-4 offset-xl-1" style="text-align: right;">
            <h2 class="text-end  fs-12 col-md-12 m-0 py-2 ">Title of text</h2>
            <p class="text-end  fs-6 fw-light  col-md-12 py-2 ">Lorem ipsum dolor sit amet consectetur. Amet nulla felis nulla enim. Ipsum ultricies tortor auctor arcu enim arcu duis sit. Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Nec tempus in tortor tincidunt id magnis faucibus.    Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Nec tempus in tortor tincidunt id magnis faucibus.</p>
        </div>
    </div>



</div>

<div class="divider" style="background-color: #8EFFD5; border-top: solid 1px #4C0054;"></div>

<app-home-brand-consultation></app-home-brand-consultation>
<div class="divider" style="background-color: #8EFFD5;"></div>


    <div class="px-1 offset-xl-3 col-xl-6 " style="border-left: solid 1px #4C0054; border-right:solid 1px #4C0054; margin-top: 0px; padding-top: 100px; padding-bottom: 100px;"  >
        <div class="p-1 col"> 
            <h2 class="text-dark fs-2 font-family-PP Monument Extended col-12 m-0 px-3 py-2">Title of text</h2>
            <p class="text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Lorem ipsum dolor sit amet consectetur. Amet nulla felis nulla enim. Ipsum ultricies tortor auctor arcu enim arcu duis sit. Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Nec tempus in tortor tincidunt id magnis faucibus.    Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Sapien sed hendrerit viverra tortor tortor praesent aliquam euismod feugiat. Nec tempus in tortor tincidunt id magnis faucibus.</p>
        </div>
    </div>



