<div  class="container" >

    <div class="row borderr borderl" style="border-left: solid 1px #450351; border-right: solid 1px #450351;">


      <div class=" col-md-4 col-sm-12 borderr">
          <div id="debesersegunda" class="row justify-content-center align-items-center text-center order-sm-2" style="border-bottom:solid 1px #450351;">

            <img id="imagenyuri1" src="../../../assets/img/imagen1.svg" class="py-6" style="height: 300px; margin-top: 20px; margin-bottom:20px;">

          </div>
          <div id="debeserprimera" class="row order-1 order-sm-1 mx-auto justify-content-center">
            <div class="maincol p-4 ps-3 pt-5 pb-0 ">In-Store</div>
            <div ><p class="maincoltext p-4 ps-1 pt-0">We make the in-store retail experience truly memorable for retailers and consumers alike, with visually appealing retail spaces, optimised layouts that amplify products, and in-store technology that communicates seamlessly with ecommerce systems.</p></div>
          </div>
        </div>


        <div class="col-md-4 col-sm-12 order-1 order-sm-1 p-0">
          <div class="row mx-auto ">
            <div class="maincol2  pb-0">What<br> we do</div>
            <div ><p class="maincolp p-4 pt-0 pb-0 mb-2">We partner with retailers to create brands that work seamlessly across in-store and online environments.</p></div>

          </div>
          <div class="row mx-auto" >

            <div class=" p-4 pb-0" style="text-align: center; align-items: center; margin-top: 0px;">
              <button class="btn btn-outline-primary btn1" [routerLink]="['/services']"  type="button">Brand Identity</button>
                <button class="btn btn-outline-primary btn2"  [routerLink]="['/services']" linkToTop type="button" >Digital Design</button>

                <button class="btn btn-outline-primary btn3"  [routerLink]="['/services']" linkToTop type="button">Environmental Design</button>

                <button class="btn btn-outline-primary btn2" [routerLink]="['/services']" linkToTop type="button" style="width: 100%;">Marketing & Communications</button>
                <button class="btn btn-outline-primary btn1"  [routerLink]="['/services']" linkToTop type="button">Web Design</button>

                <button class="btn btn-outline-primary btn4"  [routerLink]="['/services']" linkToTop type="button" >Motion Graphics</button>
                <button class="btn btn-outline-primary btn5"  [routerLink]="['/services']" linkToTop type="button" style="width: 100%;font-family: RiskGroteskBold">Industrial Design & Architecture</button>
                <button class="btn btn-outline-primary btn5"  [routerLink]="['/services']" linkToTop type="button" style="width: 100%;font-family:PPMonumentExt; font-weight: 200;">Retail In-store</button>
                <button class="btn btn-outline-primary btn5"  [routerLink]="['/services']" linkToTop type="button" style="width: 100%;font-family:RiskGroteskItal; font-weight: 100; margin-bottom: 40px;">Film & Photography</button>

              </div>





          </div>

        </div>
        <div class="col-md-4 col-sm-12 borderl order-sm-1 p-0">
            <div class="row p-0 mx-auto" style="border-bottom: solid 1px #450351;">
              <img id="imagenyuri2" src="../../assets/img/shoppingonline2.svg" class="py-6 " style="height: 300px; margin-top: 20px; margin-bottom:20px; ">
            </div>
            <div class="row p-0  mx-auto justify-content-center">
              <div class="maincol pt-5 px-4 pb-0">Online</div>
             <p class="maincolp p-4 pt-0">We create and optimise online Ecommerce sites through great website design and development, SEO and content.We help retailers grow their social media audience by optimising profiles and creating engaging content utilising influencer marketing and paid advertising.</p>
              </div>




            </div>
      </div>



</div>

