.borderr{
    border-right: solid 1px #450351;
  }
  .borderl{
    border-left: solid 1px #450351;
    padding-right: 0px;

  }
.maincol{
    width: 100%;
    color: #4C0054;
    font-size: 2vw;
    font-family: PPMonument;
    font-weight: 900;
    line-height: 40px;
    word-wrap: break-word;
    border-top: solid 1px #4C0054;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: left; margin-bottom: 40px; border-top: none;
  }
  .maincol2{
    width: 100%;
    color: #4C0054;
    font-size: 2vw;
    font-family: PPMonument;
    font-weight: 900;
    line-height: 40px;
    word-wrap: break-word;
    border-top: solid 1px #4C0054;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center; margin-bottom: 40px; border-top: none;
  }
  .maincolp{

  text-align: center; margin-bottom: 68px; padding-left: 60px; padding-right: 60px;

  }
  .maincoltext {
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;

  }

  .btn1{
    width: 100%;
    font-family: PPMonument;
    margin-left: 0px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    font-size: 1rem;
    height: 2.75rem;
    -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;

  }
  .btn2{
    width: 100%; font-family: RiskGroteskBold; font-weight: 800;
    margin-left: 2px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    height: 2.75rem;
    -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;

  }
  .btn3{
    width: 100%; font-family:PPMonumentExt; font-weight: 200;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    height: 2.75rem;
    -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;

  }
  .btn4{
    width: 100%; font-family: RiskGroteskItal;

    border-radius: 1.5rem;
    height: 2.75rem;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;

  }
  .btn5{
    margin-left: 2px;
    margin-right: 0px;
    border-radius: 1.5rem;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;

  }
  @media only screen and (max-width: 992px) {

    .maincol{


      font-size: 2vw;


      line-height: 40px;



      margin-bottom: 40px;
    }
    .maincolp{
      text-align: center;

     margin-bottom: 68px;


      }

      .maincoltext{
        text-align: left;

       margin-bottom: 68px;
       padding-left: 10px;
       padding-right: 10px;
       margin-left: 10px;
       margin-right: 10px;

        }
        .maincoltext2{
          text-align: right;

         margin-bottom: 68px;
         padding-left: 10px;
         margin-left: 10px;
         padding-right: 40px;


          }


  .btn1{
    width: 100%;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    height: 2.1rem;


  }
  .btn2{
    width: 100%;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    height: 2.1rem;


  }
  .btn3{
    width: 100%;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    font-size: 0.6rem;
    height: 2.1rem;


  }
  .btn4{
    width: 100%;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    height: 2.1rem;


  }
  .btn5{
    width: 100%;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    height: 2.1rem;


  }
  .btn6{
    width: 100%;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    height: 2.1rem;


  }
  .btn7{
    width: 100%;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    height: 2.1rem;


  }
  .btn8{
    width: 100%;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    height: 2.1rem;


  }


  }

  @media only screen and (max-width: 768px) {

    .borderr{
      border-right: none!important;
    }
    .borderl{
      border-left: none!important;
    }
    .maincol{


      font-size: 8vw;
      text-align: center;


      line-height: 40px;
      margin-bottom: 40px;
    }
    .maincoltext{
      text-align: center;
    }

  }

  @media only screen and (max-width: 576px) {
    .maincol{
      margin-bottom:0px;
    }

    .maincolp{
      text-align: center;
     margin-bottom: 18px;


      }
      .maincol2{


        font-size: 8vw;
        text-align: center;


        line-height: 40px;



        margin-bottom: 40px;

        }

       .desaparece {

        display: none;
       }


  }
