<div class="container py-5">
  <div class="row d-flex py-5 mb-5 mx-auto justify-content-center align-items-center">


    <!-- CARD PINKDOG 1-->
    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
      <div class="position-relative">
        <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
          <div href="#" class="pilllink">
            <p class="m-0 px-3 py-2 pilltext">Branding</p>
          </div>
        </div>
        <img class="border border-dark col-12" src="../../../assets/img/portfolio/works/card1.png" style="border-bottom: none;" />
      </div>
      <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
        <div class="col-12">
          <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Caleu</p>
          <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Brand Refresh and Workspace Makeover</p>
        </div>
        <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <p class="col-12 py-2 text-center">See More
              <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </p>
          </a>
        </div>
      </div>
    </div>
    <!-- CARD PINKDOG 1-->



     <!-- CARD PINKDOG 2-->
     <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
      <div class="position-relative">
        <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
          <div href="#" class="pilllink">
            <p class="m-0 px-3 py-2 pilltext">Brand Identity</p>
          </div>
        </div>
        <img class="border border-dark col-12" src="../../../assets/img/portfolio/works/card2.png" style="border-bottom: none;" />
      </div>
      <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
        <div class="col-12">
          <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">ACS</p>
          <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Email Campaign Design System</p>
        </div>
        <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            <p class="col-12 py-2 text-center">See More
              <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </p>
          </a>
        </div>
      </div>
    </div>
    <!-- CARD PINKDOG 2-->
     <!-- CARD PINKDOG 3-->
     <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
      <div class="position-relative">
        <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
          <div href="#" class="pilllink">
            <p class="m-0 px-3 py-2 pilltext">Brand Identity</p>
          </div>
        </div>
        <img class="border border-dark col-12" src="../../../assets/img/portfolio/works/card3.png" style="border-bottom: none;" />
      </div>
      <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
        <div class="col-12">
          <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Go+</p>
          <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Branding, Packaging, and Social Media</p>
        </div>
        <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            <p class="col-12 py-2 text-center">See More
              <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </p>
          </a>
        </div>
      </div>
    </div>
    <!-- CARD PINKDOG 3-->
     <!-- CARD PINKDOG 4-->
     <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
      <div class="position-relative">
        <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
          <div href="#" class="pilllink">
            <p class="m-0 px-3 py-2 pilltext">Brand Identity</p>
          </div>
        </div>
        <img class="border border-dark col-12" src="../../../assets/img/portfolio/works/card4.png" style="border-bottom: none;" />
      </div>
      <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
        <div class="col-12">
          <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">ACS</p>
          <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Email Campaign Design System</p>
        </div>
        <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal10">
            <p class="col-12 py-2 text-center">See More
              <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </p>
          </a>
        </div>
      </div>
    </div>
    <!-- CARD PINKDOG 4-->

 <!-- CARD PINKDOG 5-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Branding</p>
      </div>
    </div>
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/works/card1.png" style="border-bottom: none;" />
  </div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Caleu</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Brand Refresh and Workspace Makeover</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 5-->



 <!-- CARD PINKDOG 6-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Brand Identity</p>
      </div>
    </div>
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/works/card2.png" style="border-bottom: none;" />
  </div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">ACS</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Email Campaign Design System</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 6-->
 <!-- CARD PINKDOG 7-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Brand Identity</p>
      </div>
    </div>
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/works/card3.png" style="border-bottom: none;" />
  </div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Go+</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Branding, Packaging, and Social Media</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal3">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 7-->
 <!-- CARD PINKDOG 8-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Brand Identity</p>
      </div>
    </div>
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/works/card4.png" style="border-bottom: none;" />
  </div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">ACS</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Email Campaign Design System</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal10">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 8-->


  </div>
</div>
<app-modalportfolio></app-modalportfolio>
<app-modalportfolio2></app-modalportfolio2>
<app-modalportfolio3></app-modalportfolio3>
