<div class="container py-0">
  <div class="row d-flex py-0 mb-5 mx-auto justify-content-center align-items-center">




<!-- CARD PINKDOG 17-->
<div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Design interior  </p>
      </div>
    </div>      <a routerLink="/casestudies">

    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-architecture-workplace-design-interior-building-office.jpg"  srcset="../../../assets/img/portfolio/cover-architecture-workplace-design-interior-building-office.jpg 576w, ../../../assets/img/portfolio/cover-architecture-workplace-design-interior-building-office.jpg 768w, ../../../assets/img/portfolio/cover-architecture-workplace-design-interior-building-office.jpg 992w" style="border-bottom: none;" />
   </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">BLT</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Design interior </p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a routerLink="/casestudies">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 17-->


<!-- CARD PINKDOG 18-->
<div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">TV campaign </p>
      </div>
    </div>      <a routerLink="/casestudies2">

    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-animation-case-study-anatel-los-teves-campaing.jpg"  srcset="../../../assets/img/portfolio/cover-animation-case-study-anatel-los-teves-campaing.jpg 576w, ../../../assets/img/portfolio/cover-animation-case-study-anatel-los-teves-campaing.jpg 768w, ../../../assets/img/portfolio/cover-animation-case-study-anatel-los-teves-campaing.jpg 992w" style="border-bottom: none;" />
   </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Los Teves</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Video production </p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a routerLink="/casestudies2">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 18-->



<!-- CARD PINKDOG 19-->
<div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Social Media  </p>
      </div>
    </div>     <a routerLink="/casestudies3">

    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-social-media-content-creator-photo-film-production.jpg"  srcset="../../../assets/img/portfolio/cover-social-media-content-creator-photo-film-production.jpg 576w, ../../../assets/img/portfolio/cover-social-media-content-creator-photo-film-production.jpg 768w, ../../../assets/img/portfolio/cover-social-media-content-creator-photo-film-production.jpg 992w" style="border-bottom: none;" />
   </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Naan Sense</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Social Media Content </p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a routerLink="/casestudies3">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 19-->







     <!-- CARD PINKDOG 1-->
     <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
      <div class="position-relative">
        <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
          <div href="#" class="pilllink">
            <p class="m-0 px-3 py-2 pilltext">Brand Identity</p>
          </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal3">
        <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-go-branding-packaging-desktop.png"  srcset="../../../assets/img/portfolio/cover-go-branding-packaging-mobile.png 576w, ../../../assets/img/portfolio/cover-go-branding-packaging-desktop.png 768w, ../../../assets/img/portfolio/cover-go-branding-packaging-desktop.png 992w" style="border-bottom: none;" />
      </a></div>
      <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
        <div class="col-12">
          <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Go+</p>
          <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Branding, Packaging, and Social Media</p>
        </div>
        <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal3">
            <p class="col-12 py-2 text-center">See More
              <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </p>
          </a>
        </div>
      </div>
    </div>
    <!-- CARD PINKDOG 1-->


    <!-- CARD PINKDOG 2-->
    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
      <div class="position-relative">
        <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
          <div href="#" class="pilllink">
            <p class="m-0 px-3 py-2 pilltext">Branding</p>
          </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-caleu-branding-logo-desktop.png"  srcset="../../../assets/img/portfolio/cover-caleu-branding-logo-mobile.png 576w, ../../../assets/img/portfolio/cover-caleu-branding-logo-desktop.png 768w, ../../../assets/img/portfolio/cover-caleu-branding-logo-desktop.png 992w" style="border-bottom: none;" />
      </a>
      </div>
      <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
        <div class="col-12">
          <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Caleu</p>
          <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Brand Refresh and Workspace Makeover</p>
        </div>
        <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <p class="col-12 py-2 text-center">See More
              <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </p>
          </a>
        </div>
      </div>
    </div>
    <!-- CARD PINKDOG 2-->



 <!-- CARD PINKDOG 3-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Branding</p>
      </div>
    </div>
    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal2">
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-rindemas-branding-logo-desktop.png"  srcset="../../../assets/img/portfolio/cover-rindemas-branding-logo-mobile.png 576w, ../../../assets/img/portfolio/cover-rindemas-branding-logo-desktop.png 768w, ../../../assets/img/portfolio/cover-rindemas-branding-logo-desktop.png 992w" style="border-bottom: none;" />
  </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Rinde Más</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Brand Refresh and Social Media Strategy</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 3-->






     <!-- CARD PINKDOG 4-->
     <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
      <div class="position-relative">
        <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
          <div href="#" class="pilllink">
            <p class="m-0 px-3 py-2 pilltext">Store Design</p>
          </div>
        </div>
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal4">
        <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-malamana-storedesign-signage-desktop.png"  srcset="../../../assets/img/portfolio/cover-malamana-storedesign-signage-mobile.png 576w, ../../../assets/img/portfolio/cover-malamana-storedesign-signage-desktop.png 768w, ../../../assets/img/portfolio/cover-malamana-storedesign-signage-desktop.png 992w" style="border-bottom: none;" />
      </a></div>
      <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
        <div class="col-12">
          <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Studio Mala Maña</p>
          <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Store Design and Fit Out</p>
        </div>
        <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal4">
            <p class="col-12 py-2 text-center">See More
              <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </p>
          </a>
        </div>
      </div>
    </div>
    <!-- CARD PINKDOG 4-->

 <!-- CARD PINKDOG 5-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Stand Design</p>
      </div>
    </div>
    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal5">
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-icv-standdesign-popup-desktop.png"  srcset="../../../assets/img/portfolio/cover-icv-standdesign-popup-mobile.png 576w, ../../../assets/img/portfolio/cover-icv-standdesign-popup-desktop.png 768w, ../../../assets/img/portfolio/cover-icv-standdesign-popup-desktop.png 992w" style="border-bottom: none;" />
  </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">ICV</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Exhibition Stand Design</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal5">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 5-->



 <!-- CARD PINKDOG 6-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Web Design</p>
      </div>
    </div>
    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal6">
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-tastebaguette-website-photo-desktop.png"  srcset="../../../assets/img/portfolio/cover-tastebaguette-website-photo-mobile.png 576w, ../../../assets/img/portfolio/cover-tastebaguette-website-photo-desktop.png 768w, ../../../assets/img/portfolio/cover-tastebaguette-website-photo-desktop.png 992w" style="border-bottom: none;" />
  </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Taste Baguette</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Website Design and Content</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal6">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 6-->
 <!-- CARD PINKDOG 7-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Office Design</p>
      </div>
    </div>
    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal7">
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-lbh-officedesign-interior-desktop.png"  srcset="../../../assets/img/portfolio/cover-lbh-officedesign-interior-mobile.png 576w, ../../../assets/img/portfolio/cover-lbh-officedesign-interior-desktop.png 768w, ../../../assets/img/portfolio/cover-lbh-officedesign-interior-desktop.png 992w" style="border-bottom: none;" />
  </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">LBH</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Office Design</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal7">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 7-->
 <!-- CARD PINKDOG 8-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Photography</p>
      </div>
    </div>
    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal8">
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-bws-photography-product-desktop.png"  srcset="../../../assets/img/portfolio/cover-bws-photography-product-mobile.png 576w, ../../../assets/img/portfolio/cover-bws-photography-product-desktop.png 768w, ../../../assets/img/portfolio/cover-bws-photography-product-desktop.png 992w" style="border-bottom: none;" />
  </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">BWS</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Social Media Content</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal8">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 8-->
  <!-- CARD PINKDOG 9-->
  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
    <div class="position-relative">
      <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
        <div href="#" class="pilllink">
          <p class="m-0 px-3 py-2 pilltext">Animation</p>
        </div>
      </div>
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal9">
      <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-ark-animation-desktop.png"  srcset="../../../assets/img/portfolio/cover-ark-animation-mobile.png 576w, ../../../assets/img/portfolio/cover-ark-animation-desktop.png 768w, ../../../assets/img/portfolio/cover-ark-animation-desktop.png 992w" style="border-bottom: none;" />
    </a>
    </div>
    <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
      <div class="col-12">
        <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">ARK TV Concepts</p>
        <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Live-stream Digital Set</p>
      </div>
      <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal9">
          <p class="col-12 py-2 text-center">See More
            <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </p>
        </a>
      </div>
    </div>
  </div>
  <!-- CARD PINKDOG 9-->
   <!-- CARD PINKDOG 10-->
  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
    <div class="position-relative">
      <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
        <div href="#" class="pilllink">
          <p class="m-0 px-3 py-2 pilltext">eCommerce</p>
        </div>
      </div>
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal10">
      <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-oatleycottage-website-ecommerce-desktop.png"  srcset="../../../assets/img/portfolio/cover-oatleycottage-website-ecommerce-mobile.png 576w, ../../../assets/img/portfolio/cover-oatleycottage-website-ecommerce-desktop.png 768w, ../../../assets/img/portfolio/cover-oatleycottage-website-ecommerce-desktop.png 992w" style="border-bottom: none;" />
    </a></div>
    <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
      <div class="col-12">
        <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Oatley Cottage</p>
        <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">eCommerce website design and development</p>
      </div>
      <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal10">
          <p class="col-12 py-2 text-center">See More
            <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </p>
        </a>
      </div>
    </div>
  </div>
  <!-- CARD PINKDOG 10-->
    <!-- CARD PINKDOG 11-->
  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
    <div class="position-relative">
      <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
        <div href="#" class="pilllink">
          <p class="m-0 px-3 py-2 pilltext">Video Production</p>
        </div>
      </div>
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal11">
      <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-ashtonmedia-conference-videoproduction-desktop.png"  srcset="../../../assets/img/portfolio/cover-ashtonmedia-conference-videoproduction-mobile.png 576w, ../../../assets/img/portfolio/cover-ashtonmedia-conference-videoproduction-desktop.png 768w, ../../../assets/img/portfolio/cover-ashtonmedia-conference-videoproduction-desktop.png 992w" style="border-bottom: none;" />
    </a></div>
    <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
      <div class="col-12">
        <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Ashton Media</p>
        <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Conference Videos, Interviews and Graphics</p>
      </div>
      <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
        <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal11">
          <p class="col-12 py-2 text-center">See More
            <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </p>
        </a>
      </div>
    </div>
  </div>
  <!-- CARD PINKDOG 11-->
 <!-- CARD PINKDOG 12-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Animation</p>
      </div>
    </div>
    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal12">
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-kubio-colour-logo-desktop.png"  srcset="../../../assets/img/portfolio/cover-kubio-colour-logo-mobile.png 576w, ../../../assets/img/portfolio/cover-kubio-colour-logo-desktop.png 768w, ../../../assets/img/portfolio/cover-kubio-colour-logo-desktop.png 992w" style="border-bottom: none;" />
  </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Kubio</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Product Training Animated Video</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal12">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 12-->
 <!-- CARD PINKDOG 13-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Video Production</p>
      </div>
    </div>
    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal13">
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-tensixtyapp-video-production-desktop.png"  srcset="../../../assets/img/portfolio/cover-tensixtyapp-video-production-mobile.png 576w, ../../../assets/img/portfolio/cover-tensixtyapp-video-production-desktop.png 768w, ../../../assets/img/portfolio/cover-tensixtyapp-video-production-desktop.png 992w" style="border-bottom: none;" />
  </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">TenSixty App</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Video Production Interviews</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal13">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 13-->
 <!-- CARD PINKDOG 14-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Email Templates</p>
      </div>
    </div>
    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal14">
    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-acs-emailtemplates-logo-desktop.png"  srcset="../../../assets/img/portfolio/cover-acs-emailtemplates-logo-mobile.png 576w, ../../../assets/img/portfolio/cover-acs-emailtemplates-logo-desktop.png 768w, ../../../assets/img/portfolio/cover-acs-emailtemplates-logo-desktop.png 992w" style="border-bottom: none;" />
  </a>
  </div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">ACS</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Email Campaign Design System</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal14">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 14-->
 <!-- CARD PINKDOG 15-->
 <div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Photography</p>
      </div>
    </div>      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal15">

    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-businesschamber-photography-event-desktop.png"  srcset="../../../assets/img/portfolio/cover-businesschamber-photography-event-desktop.png 576w, ../../../assets/img/portfolio/cover-businesschamber-photography-event-desktop.png 768w, ../../../assets/img/portfolio/cover-businesschamber-photography-event-desktop.png 992w" style="border-bottom: none;" />
   </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">St George Business Chamber</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Annual Charity Gala Dinner</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal15">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 15-->


<!-- CARD PINKDOG 16-->
<div class="col-xl-3 col-lg-3 col-md-5 col-sm-11  portfoliocard">
  <div class="position-relative">
    <div class="rounded-4 d-flex justify-content-center pillbody position-absolute" style=" z-index: 1;">
      <div href="#" class="pilllink">
        <p class="m-0 px-3 py-2 pilltext">Social Media</p>
      </div>
    </div>      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal16">

    <img class="border border-dark col-12" src="../../../assets/img/portfolio/cover-sanctus-socialmedia-product-desktop.png"  srcset="../../../assets/img/portfolio/cover-sanctus-socialmedia-product-desktop 576w, ../../../assets/img/portfolio/cover-sanctus-socialmedia-product-desktop.png 768w, ../../../assets/img/portfolio/cover-sanctus-socialmedia-product-desktop.png 992w" style="border-bottom: none;" />
   </a></div>
  <div class="p-1 bg-white border border-1 border-dark col-12 d-flex flex-column" style="min-height: 200px; margin-top: -2px;">
    <div class="col-12">
      <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Sanctus</p>
      <p class="text-dark fs-6 fw-light col-12 m-0 px-3 py-2 portfoliocardtext">Social Media Content</p>
    </div>
    <div class="mt-auto ms-auto me-1 mb-1 py-1 col-12 d-flex justify-content-center portfolioseemore">
      <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal15">
        <p class="col-12 py-2 text-center">See More
          <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.5 9.94737L49 9.94738M49 9.94738L45.3159 5.47369L41.6317 1M49 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </p>
      </a>
    </div>
  </div>
</div>
<!-- CARD PINKDOG 16-->




  </div>
</div>
<app-modalportfolio></app-modalportfolio>
<app-modalportfolio2></app-modalportfolio2>
<app-modalportfolio3></app-modalportfolio3>
<app-modalportfolio4></app-modalportfolio4>
<app-modalportfolio5></app-modalportfolio5>
<app-modalportfolio6></app-modalportfolio6>
<app-modalportfolio7></app-modalportfolio7>
<app-modalportfolio8></app-modalportfolio8>
<app-modalportfolio9></app-modalportfolio9>
<app-modalportfolio10></app-modalportfolio10>
<app-modalportfolio11></app-modalportfolio11>
<app-modalportfolio12></app-modalportfolio12>
<app-modalportfolio13></app-modalportfolio13>
<app-modalportfolio14></app-modalportfolio14>
<app-modalportfolio15></app-modalportfolio15>
<app-modalportfolio16></app-modalportfolio16>

