<div class="divider"></div>
<div class="divider"></div><div class="divider"></div>
<div class="container">
    <div class="row d-flex">

<!-- CARD PINKDOG -->
    <div class=" col-xl-3  col-md-2 col-sm-12 portfoliocard align-items-center justify-content-center">
        
        <div class=" rounded-4 col-10 d-flex justify-content-center pillbody" >
            <a href="#" class="pilllink">
            <p class=" col-11 m-0 px-3 py-2 pilltext">Brand Identity</p>
            </a>
        </div>
        

        <div>
            
            <div class="position-relative" style="margin-left: 0px; padding-left: 0px;">
                <img class=" position-absolute  border-dark col-12" src="../../../assets/img/portfolio/card1.png" style="z-index: -1; margin-left: -12px; padding-left: 0px; left: 0px; margin-top: -240px;" />
            </div>
         
        </div>
        <div class="p-1 bg-white border border-1 border-dark col-12 row d-flex" style="min-height: 200px;">
            <div class="col-12 d-flex">
                <div class="col-12">
                    <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Brand Name</p>
                    <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 portfoliocardtext">Brief description of the project Brief description of the project</p>
                </div>
            </div>
            <div class="py-1 col-12 row  align-items-end d-flex portfolioseemore">
              <div class=" col-12 align-items-end"> <a href="" class="align-items-end" routerLink="/casestudies">
                    <p class=" col-12  py-2" style="text-align: center;">See More 
                        <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.499999 9.94737L49.0001 9.94738M49.0001 9.94738L45.3159 5.47369L41.6317 1.00001M49.0001 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;"/>
                        </svg>
                    </p>
                </a>  
              </div>
            
            </div>
        </div>
    </div>

<!-- CARD PINKDOG -->

<!-- CARD PINKDOG -->
<div class=" col-xl-3   col-lg-2  col-md-3 col-sm-12  portfoliocard">
        
    <div class=" rounded-4 col-10 d-flex justify-content-center pillbody" >
        <a href="#" class="pilllink">
        <p class=" col-11 m-0 px-3 py-2 pilltext">Brand Identity</p>
        </a>
    </div>
    

    <div>
        
        <div class="position-relative" style="margin-left: 0px; padding-left: 0px;">
            <img class=" position-absolute  border-dark col-12" src="../../../assets/img/portfolio/card1.png" style="z-index: -1; margin-left: -12px; padding-left: 0px; left: 0px; margin-top: -240px;" />
        </div>
     
    </div>
    <div class="p-1 bg-white border border-1 border-dark col-12 row d-flex" style="min-height: 200px;">
        <div class="col-12 d-flex">
            <div class="col-12">
                <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Brand Name</p>
                <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 portfoliocardtext">Brief description of the project Brief description of the project</p>
            </div>
        </div>
        <div class="py-1 col-12 row  align-items-end d-flex portfolioseemore">
          <div class=" col-12 align-items-end"> <a href="" class="align-items-end">
                <p class=" col-12  py-2" style="text-align: center;">See More 
                    <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.499999 9.94737L49.0001 9.94738M49.0001 9.94738L45.3159 5.47369L41.6317 1.00001M49.0001 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;"/>
                    </svg>
                </p>
            </a>  
          </div>
        
        </div>
    </div>
</div>

<!-- CARD PINKDOG -->
<!-- CARD PINKDOG -->
<div class=" col-xl-3 col-xl-3  col-lg-3  col-md-3 col-sm-12  portfoliocard">
        
    <div class=" rounded-4 col-10 d-flex justify-content-center pillbody" >
        <a href="#" class="pilllink">
        <p class=" col-11 m-0 px-3 py-2 pilltext">Brand Identity</p>
        </a>
    </div>
    

    <div>
        
        <div class="position-relative" style="margin-left: 0px; padding-left: 0px;">
            <img class=" position-absolute  border-dark col-12" src="../../../assets/img/portfolio/card1.png" style="z-index: -1; margin-left: -12px; padding-left: 0px; left: 0px; margin-top: -240px;" />
        </div>
     
    </div>
    <div class="p-1 bg-white border border-1 border-dark col-12 row d-flex" style="min-height: 200px;">
        <div class="col-12 d-flex">
            <div class="col-12">
                <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Brand Name</p>
                <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 portfoliocardtext">Brief description of the project Brief description of the project</p>
            </div>
        </div>
        <div class="py-1 col-12 row  align-items-end d-flex portfolioseemore">
          <div class=" col-12 align-items-end"> <a href="" class="align-items-end">
                <p class=" col-12  py-2" style="text-align: center;">See More 
                    <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.499999 9.94737L49.0001 9.94738M49.0001 9.94738L45.3159 5.47369L41.6317 1.00001M49.0001 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;"/>
                    </svg>
                </p>
            </a>  
          </div>
        
        </div>
    </div>
</div>

<!-- CARD PINKDOG -->
<!-- CARD PINKDOG -->
<div class=" col-xl-3 col-xl-3  col-lg-3  col-md-3 col-sm-12   portfoliocard">
        
    <div class=" rounded-4 col-10 d-flex justify-content-center pillbody" >
        <a href="#" class="pilllink">
        <p class=" col-11 m-0 px-3 py-2 pilltext">Brand Identity</p>
        </a>
    </div>
    

    <div>
        
        <div class="position-relative" style="margin-left: 0px; padding-left: 0px;">
            <img class=" position-absolute  border-dark col-12" src="../../../assets/img/portfolio/card1.png" style="z-index: -1; margin-left: -12px; padding-left: 0px; left: 0px; margin-top: -240px;" />
        </div>
     
    </div>
    <div class="p-1 bg-white border border-1 border-dark col-12 row d-flex" style="min-height: 200px;">
        <div class="col-12 d-flex">
            <div class="col-12">
                <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Brand Name</p>
                <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 portfoliocardtext">Brief description of the project Brief description of the project</p>
            </div>
        </div>
        <div class="py-1 col-12 row  align-items-end d-flex portfolioseemore">
          <div class=" col-12 align-items-end"> <a href="" class="align-items-end">
                <p class=" col-12  py-2" style="text-align: center;">See More 
                    <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.499999 9.94737L49.0001 9.94738M49.0001 9.94738L45.3159 5.47369L41.6317 1.00001M49.0001 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;"/>
                    </svg>
                </p>
            </a>  
          </div>
        
        </div>
    </div>
</div>

<!-- CARD PINKDOG -->



</div>
<!-- ROW ROW CARD PINKDOG -->

<div class="row d-flex" style="margin-top: 200px">

    <!-- CARD PINKDOG -->
        <div class=" col-xl-3  col-md-2 col-sm-12 portfoliocard align-items-center justify-content-center">
            
            <div class=" rounded-4 col-10 d-flex justify-content-center pillbody" >
                <a href="#" class="pilllink">
                <p class=" col-11 m-0 px-3 py-2 pilltext">Brand Identity</p>
                </a>
            </div>
            
    
            <div>
                
                <div class="position-relative" style="margin-left: 0px; padding-left: 0px;">
                    <img class=" position-absolute  border-dark col-12" src="../../../assets/img/portfolio/card1.png" style="z-index: -1; margin-left: -12px; padding-left: 0px; left: 0px; margin-top: -240px;" />
                </div>
             
            </div>
            <div class="p-1 bg-white border border-1 border-dark col-12 row d-flex" style="min-height: 200px;">
                <div class="col-12 d-flex">
                    <div class="col-12">
                        <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Brand Name</p>
                        <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 portfoliocardtext">Brief description of the project Brief description of the project</p>
                    </div>
                </div>
                <div class="py-1 col-12 row  align-items-end d-flex portfolioseemore">
                  <div class=" col-12 align-items-end"> <a href="" class="align-items-end">
                        <p class=" col-12  py-2" style="text-align: center;">See More 
                            <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.499999 9.94737L49.0001 9.94738M49.0001 9.94738L45.3159 5.47369L41.6317 1.00001M49.0001 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;"/>
                            </svg>
                        </p>
                    </a>  
                  </div>
                
                </div>
            </div>
        </div>
    
    <!-- CARD PINKDOG -->
    
    <!-- CARD PINKDOG -->
    <div class=" col-xl-3   col-lg-2  col-md-3 col-sm-12  portfoliocard">
            
        <div class=" rounded-4 col-10 d-flex justify-content-center pillbody" >
            <a href="#" class="pilllink">
            <p class=" col-11 m-0 px-3 py-2 pilltext">Brand Identity</p>
            </a>
        </div>
        
    
        <div>
            
            <div class="position-relative" style="margin-left: 0px; padding-left: 0px;">
                <img class=" position-absolute  border-dark col-12" src="../../../assets/img/portfolio/card1.png" style="z-index: -1; margin-left: -12px; padding-left: 0px; left: 0px; margin-top: -240px;" />
            </div>
         
        </div>
        <div class="p-1 bg-white border border-1 border-dark col-12 row d-flex" style="min-height: 200px;">
            <div class="col-12 d-flex">
                <div class="col-12">
                    <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Brand Name</p>
                    <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 portfoliocardtext">Brief description of the project Brief description of the project</p>
                </div>
            </div>
            <div class="py-1 col-12 row  align-items-end d-flex portfolioseemore">
              <div class=" col-12 align-items-end"> <a href="" class="align-items-end">
                    <p class=" col-12  py-2" style="text-align: center;">See More 
                        <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.499999 9.94737L49.0001 9.94738M49.0001 9.94738L45.3159 5.47369L41.6317 1.00001M49.0001 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;"/>
                        </svg>
                    </p>
                </a>  
              </div>
            
            </div>
        </div>
    </div>
    
    <!-- CARD PINKDOG -->
    <!-- CARD PINKDOG -->
    <div class=" col-xl-3 col-xl-3  col-lg-3  col-md-3 col-sm-12  portfoliocard">
            
        <div class=" rounded-4 col-10 d-flex justify-content-center pillbody" >
            <a href="#" class="pilllink">
            <p class=" col-11 m-0 px-3 py-2 pilltext">Brand Identity</p>
            </a>
        </div>
        
    
        <div>
            
            <div class="position-relative" style="margin-left: 0px; padding-left: 0px;">
                <img class=" position-absolute  border-dark col-12" src="../../../assets/img/portfolio/card1.png" style="z-index: -1; margin-left: -12px; padding-left: 0px; left: 0px; margin-top: -240px;" />
            </div>
         
        </div>
        <div class="p-1 bg-white border border-1 border-dark col-12 row d-flex" style="min-height: 200px;">
            <div class="col-12 d-flex">
                <div class="col-12">
                    <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Brand Name</p>
                    <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 portfoliocardtext">Brief description of the project Brief description of the project</p>
                </div>
            </div>
            <div class="py-1 col-12 row  align-items-end d-flex portfolioseemore">
              <div class=" col-12 align-items-end"> <a href="" class="align-items-end">
                    <p class=" col-12  py-2" style="text-align: center;">See More 
                        <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.499999 9.94737L49.0001 9.94738M49.0001 9.94738L45.3159 5.47369L41.6317 1.00001M49.0001 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;"/>
                        </svg>
                    </p>
                </a>  
              </div>
            
            </div>
        </div>
    </div>
    
    <!-- CARD PINKDOG -->
    <!-- CARD PINKDOG -->
    <div class=" col-xl-3 col-xl-3  col-lg-3  col-md-3 col-sm-12   portfoliocard">
            
        <div class=" rounded-4 col-10 d-flex justify-content-center pillbody" >
            <a href="#" class="pilllink">
            <p class=" col-11 m-0 px-3 py-2 pilltext">Brand Identity</p>
            </a>
        </div>
        
    
        <div>
            
            <div class="position-relative" style="margin-left: 0px; padding-left: 0px;">
                <img class=" position-absolute  border-dark col-12" src="../../../assets/img/portfolio/card1.png" style="z-index: -1; margin-left: -12px; padding-left: 0px; left: 0px; margin-top: -240px;" />
            </div>
         
        </div>
        <div class="p-1 bg-white border border-1 border-dark col-12 row d-flex" style="min-height: 200px;">
            <div class="col-12 d-flex">
                <div class="col-12">
                    <p class="text-dark fs-5 col-12 m-0 px-3 py-2 portfoliocardtitle">Brand Name</p>
                    <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 portfoliocardtext">Brief description of the project Brief description of the project</p>
                </div>
            </div>
            <div class="py-1 col-12 row  align-items-end d-flex portfolioseemore">
              <div class=" col-12 align-items-end"> <a href="" class="align-items-end">
                    <p class=" col-12  py-2" style="text-align: center;">See More 
                        <svg class="flechaseemore" width="50" height="20" viewBox="0 0 50 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.499999 9.94737L49.0001 9.94738M49.0001 9.94738L45.3159 5.47369L41.6317 1.00001M49.0001 9.94738L45.3159 14.6842L41.6317 19.4211" stroke="#4C0054" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;"/>
                        </svg>
                    </p>
                </a>  
              </div>
            
            </div>
        </div>
    </div>
    
    <!-- CARD PINKDOG -->
    
    
    
    </div>
    <!-- ROW ROW CARD PINKDOG -->


</div>