

<div class=" row justify-content-center align-items-center pt-5 m-0 px-0" style="margin-bottom: 40px; margin-top: 40px;">
  <div class="pill" style="text-align: center;" >Case study</div>
  <h2 class="text-center col-12 m-0 px-3 py-2" style="font-family:PPMonument; font-size: 48px; ">Naan sense</h2>
  <p class="text-center text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 pb-4">Social Media Content Management and Google Reviews</p>
</div>
<app-portfoliocarousel [activeSlideIndex]="2"></app-portfoliocarousel>
<div class=" container-fluid">
<div class="row" style="border-bottom: 1px solid #4C0054;">
    <div class="px-1 col-xxl-6 d-flex align-items-center align-middle justify-content-center noborder" style="border-top: none!important; height: 670px; border-right: solid 1px #4C0054; ">
        <div class="col-md-8 row align-items-center justify-content-center mx-auto my-auto" >
            <div class="col-12 row d-flex " >
                <h2 class="fs-2 col-12 m-0 px-3 py-2">Project <br>Background</h2>
                <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Established in 1991 as Tamana’s Indian Diner has been a mainstay of Newtown’s King st. The restaurant has evolved through the years and changes in staff and ownership, but one thing has remained consistent: the quality of food and dedication to the customers. And this is no different for the latest iteration of the restaurant “Naan Sense”.<br><br>

                  With the new name, new owners Shalini and Navs wanted to ensure that they kept satisfying their existing customers as well as attracting new ones. So they started by renovating the restaurant to make it a more enjoyable place to dine<br>

                  </p>
            </div>

        </div>
    </div>
    <div class="col-xxl-6 col-sm-12 px-0">
    <div class="col-xxl-12 col-sm-12 py-0" style="background-image: url('../../../assets/img/portfolio/case1C.png'); border-left: none!important;border-top: none!important; background-size: cover; background-position-x:left; background-position-y:top; background-repeat: no-repeat; height: 850px;" ></div>
  </div>
</div>
</div>




<div class="px-1 offset-md-3 col-md-6 noborder"  >
  <div class=" py-5 px-5 col challengue">
      <h2 class="text-dark fs-2 font-family-PP Monument Extended col-12 m-0 px-3">The Problem</h2><br>
      <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">With the restaurant now looking great it was important to get new customers through the doors. Shalini and Navs knew they could be doing more but without a background in marketing they didn’t really know where to start.<br><br>

        That's when they approached Pink Dog Studio for help.
        </p>
  </div>
</div>






<!-- container-->




<!--container-->



<div class="container-fluid" style="border-top:solid 1px #4C0054 ;" >

  <div class=" row d-flex flex-row-reverse align-items-center align-middle justify-content-center" style="border: solid1px #4C0054;">
      <div class="px-1  col-xxl-5 col-md-5 ">
          <h2 class=" fs-2  m-0 px-3 py-2" style="text-align: left;">The Solution</h2>
          <p class=" fs-6 fw-light  m-0 px-3 py-2 col-md-10 col-sm-12 " style="text-align: left;">With a large investment in the purchase of the restaurant and the renovation there was little left in the budget for marketing, so it was important to put together a cost effective marketing solution that got new customers into the restaurant.<br><br>

            Budget in mind we started to form a roadmap for success. Working together with Naan Sense we established a simple marketing strategy that would address both their social media content and their customer reviews through google.<br><br>

            With the plan to address other areas of the business’s branding and marketing as time progresses.</p>
      </div>
      <div class="col-xxl-1 col-md-1" style="border-left: solid 1px #4C0054;"></div>


      <div class="col-xxl-6 col-md-6 " style="text-align: right; background-image: url('../../../assets/img/portfolio/photol1C.png'); background-size: cover; min-height: 744px;">


      </div>
  </div>



</div>

<!--container-->



<app-carouselcasestudies3></app-carouselcasestudies3>



<!-- container-->

<div class=" container-fluid">

  <div class=" row" style="border-bottom:solid 1px #4C0054; border-top:solid 1px #4C0054;">
      <div class="col-xl-6 col-sm-12 p-0 m-0" style="border-right:solid 1px #4C0054; padding-right: 0px;" >

          <div class=" col-md-12 align-items-end d-flex" style="text-align: right; border-bottom:solid 1px #4C0054;">
              <div id="columna3" class="col-xl-6 col-md-10 col-sm-12 pt-5 pb-5 p-md-0 p-sm-5  row align-items-end d-flex offset-xl-3 offset-md-1" style=" text-align: right; float: right; ">
                  <h2>The Process</h2>
                  <p class="text-end text-dark fs-6 fw-light  col-12  m-0 px-3 py-2">Our first priority was Social Media; optimising accounts and ensuring customers visiting the restaurant on social media have access to crucial information such as; opening hours, location, menus and delivery services.<br><br>

                    With social media accounts optimised it was time to start planning and producing social media content. A content planner was created to track and manage Naan Sense’s social media content and shoot days were set to capture the content.</p>
              </div>
          </div>



          <div class="row col-12 align-items-end align-middle justify-content-end d-flex p-0 m-0" style="padding: 0px;">
              <div id="columna4" class="col-md-4 col-sm-12 offset-0 align-items-center justify-content-center align-middle my-auto" >
                  <p class=" text-dark fs-6 fw-light m-0 px-3 py-4 justify-content-center align-middle">With the social media now being posted regularly we worked to improve the restaurants rating on google.</p>

              </div>

              <div id="bltimgl2" class="col-md-6 col-sm-12 align-items-end" style="  background-image: url('../../../assets/img/portfolio/photol2C.jpg'); background-size: cover; height:550px; float: right; text-align: right; padding: 0px;" > </div>

          </div>
      </div>




      <div class="col-xxl-6 col-sm-12 pt-5">

          <div id="columna6" class="col-xl-12  row p-5">
              <div class="col-xl-4 col-md-4 col-sm-12" style="background-image: url('../../../assets/img/portfolio/photor2C.png'); width: 334px; height: 548px; background-size: contain; background-repeat: no-repeat;"></div>
              <p class="text-dark fs-6 fw-light  col-6 m-0 px-5 py-2">Our strategy was simple, to promptly respond to all reviews regardless of rating thanking them for taking time to review the restaurant. Then depending on the feedback; Address complaints, concerns or issues, Acknowledge positive feedback and encourage a return visit. We also took this as an opportunity to learn from these reviews key areas of service that could be improved in store.</p>

          </div>
      </div>
  </div>
</div>


<!-- container-->







<!--container-->



<div class="container-fluid" >

    <div class=" row d-flex align-items-center align-middle justify-content-center" style="border: solid1px #4C0054;">
        <div class="px-1  col-xxl-4 col-md-4 offset-xxl-1 offset-md-1 py-0  ">
            <h2 class=" fs-2  m-0 px-3 py-2" style="text-align: left;">The Results</h2>
            <p class=" fs-6 fw-light  m-0 px-3 py-2 " style="text-align: left;">In the period from November 21st to February 18th 2024, the Naan Sense Instagram account experienced significant growth compared to the preceding Aug 23 - Nov 20th 2023 timeframe.<br><br>

              Impressively, reach expanded to 526 accounts - a remarkable increase of 31.1% among followers (154) and 10.7% among non-followers (390). Impressions soared to 6,245, marking substantial growth of 113%. Additionally, profile activity witnessed a commendable uptick, increasing by 16.2% to reach 600.<br><br>

              With the efforts on presenting consistent social media content we have now established a strong social media presence for the restaurant, which Naan Sense a space to communicate with its customers, promote new offers and show off the delicious food they offer.<br><br>

              Google reviews of Naan Sense have greatly increased with the instore staff encouraging customers to review their meals and the overall rating has gone from 3.5 stars to 4.3 stars in a few short months.<br><br>

              With the ongoing social media and google review management, we are now looking at other areas of the restaurant and how we can further improve the customer experience in store. A new simplified menu is coming in the next few months along with updated in store signage.
              </p>
        </div>
        <div class="col-xxl-1 col-md-1" style="border-right: solid 1px #4C0054;"></div>


        <div class="col-xxl-6 col-md-6" style="text-align: right; background-image: url('../../../assets/img/portfolio/photor3C.png'); background-size: cover; min-height: 744px;">


        </div>
    </div>



</div>

<!--container-->


<div class="divider" style="border-top: solid 1px #4C0054;"></div>

<app-home-brand-consultation></app-home-brand-consultation>
<div class="divider" style="border-bottom: solid 1px #4C0054;"></div>




