

<div class=" row justify-content-center align-items-center pt-5 m-0 px-0" style="margin-bottom: 40px; margin-top: 40px;">
  <div class="pill" style="text-align: center;" >Case study</div>
  <h2 class="text-center col-12 m-0 px-3 py-2" style="font-family:PPMonument; font-size: 48px; ">Anatel - Los Téves</h2>
  <p class="text-center text-dark fs-6 fw-light  col-12 m-0 px-3 py-2 pb-4">Digitisation of Television in Chile</p>
</div>
<app-portfoliocarousel [activeSlideIndex]="1"></app-portfoliocarousel>
<div class=" container-fluid">
<div class="row" style="border-bottom: 1px solid #4C0054;">
    <div class="px-1 col-xxl-6 d-flex align-items-center align-middle justify-content-center noborder" style="border-top: none!important; height: 670px; border-right: solid 1px #4C0054; ">
        <div class="col-md-8 row align-items-center justify-content-center mx-auto my-auto" >
            <div class="col-12 row d-flex " >
                <h2 class="fs-2 col-12 m-0 px-3 py-2">Project <br>Background</h2>
                <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">In 2009, during the government of former President Michelle Bachelet, it was announced that Chile was moving to adopt the Japanese standard ISDB-T, marking the beginning of the path towards terrestrial digital television (TVD) in Chile.<br><br>

                  The legislation took five more years to write into law, with it finally being introduced in 2014. This new legislation marked the shutdown of analogue television broadcast across Chile, with a final deadline of April 2024.
                  <br></p>
            </div>

        </div>
    </div>
    <div class="col-xxl-6 col-sm-12 px-0">
    <div class="col-xxl-12 col-sm-12 py-0" style="background-image: url('../../../assets/img/portfolio/case1B.png'); border-left: none!important;border-top: none!important; background-size: cover; background-position-x:left; background-position-y:top; background-repeat: no-repeat; height: 670px;" ></div>
  </div>
</div>
</div>




<div class="px-1 offset-md-3 col-md-6 noborder"  >
  <div class=" py-5 px-5 col challengue">
      <h2 class="text-dark fs-2 font-family-PP Monument Extended col-12 m-0 px-3">The Problem</h2><br>
      <p class="text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">With the shutdown of analogue television looming, it was important to educate the country about what this transition from analogue to digital meant for them and to ensure they had everything they needed for this transition. The transition from analogue to digital would require the purchase of some additional hardware that would come at a cost for some of the public, so it was important to ensure that they were made aware of this so that they could purchase the required hardware before the shutdown.<br><br>

        As part of this process it was important to ensure that a large number of stakeholders across the country were involved in the rollout, this included Governmental entities; General Secretariat of Government, the Ministry of Transportation and Telecommunications, the Undersecretariat of Telecommunications (SUBTEL), All Chilean National TV networks gathered under (Anatel), the National Television Council and All Chilean Regional TV networks gathered under (Arcatel).<br><br>

        To add to all of this the date for the shutdown was set for April 15 and there was just 4 weeks to develop and rollout the campaign.</p>
  </div>
</div>






<!-- container-->
<!-- container-->
<div class="container-fluid">
  <div class="row" style="border-bottom: solid 1px #4C0054; border-top: solid 1px #4C0054;">
    <div class="col-md-6 col-sm-12 p-0 noborder" style="border-right: solid 1px #4C0054;">
      <div class="col-12 align-items-center d-flex justify-content-end" style="text-align: right; border-bottom: solid 1px #4C0054;">
        <div class="col-xl-8 col-md-10 pt-5 pb-5 px-5 row align-items-end justify-content-center d-flex offset-xl-3 offset-md-1 p-0 m-0" style="text-align: right; float: right;">
          <h2>The Solution</h2>
          <p class="text-end text-dark fs-6 fw-light col-12 m-0 px-3 py-2">
            With the shutdown of analogue television looming, it was important to educate the country about what this transition from analogue to digital meant for them and to ensure they had everything they needed for this transition. The transition from analogue to digital would require the purchase of some additional hardware that would come at a cost for some of the public, so it was important to ensure that they were made aware of this so that they could purchase the required hardware before the shutdown.<br><br>

            As part of this process it was important to ensure that a large number of stakeholders across the country were involved in the rollout, this included Governmental entities; General Secretariat of Government, the Ministry of Transportation and Telecommunications, the Undersecretariat of Telecommunications (SUBTEL), All Chilean National TV networks gathered under (Anatel), the National Television Council and All Chilean Regional TV networks gathered under (Arcatel).<br><br>

            To add to all of this the date for the shutdown was set for April 15 and there was just 4 weeks to develop and rollout the campaign.
          </p>
        </div>
      </div>

      <div class="col-12 align-items-end align-middle justify-content-end  d-only-sm-flex p-0">
        <div id="columna1" class="col-md-4 col-sm-12 offset-0 align-items-center justify-content-center align-middle my-auto order-md-1 order-sm-2 order-2">
          <p class="col-sm-12 text-dark fs-6 fw-light m-0 px-5 py-5 justify-content-center align-middle">
            Pink Dog took the ball and ran with it, developing the “Los Téves” and this national campaign in just four weeks.          </p>
        </div>
        <div id="columna2" class="col-md-6 col-sm-12 align-items-end order-md-2 order-sm-1 order-1">
      <img src="../../../assets/img/portfolio/photol1B.png" class="my-auto justify-content-center align-items-center" style="width: 100%;">
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 pt-5">
      <div class="col-md-12 row d-flex">
        <div class="col-xl-6 col-md-10 flex-column d-flex p-3">
          <p class="text-dark fs-6 fw-light col-12 col-md-12 m-0 px-5 py-2">
            The campaign was run on all national and regional TV channels across Chile, 8 episodes airing over 6 weeks, encouraging viewers to visit www.tvd.cl for further information about making the switch.          </p>
        </div>
      </div>
      <div class="col-md-12 row p-5">
        <div class="col-xl-6 col-md-10 col-sm-12" style="background-image: url('../../../assets/img/portfolio/photor1B.png'); width: 334px; height: 548px; background-size: contain; background-repeat: no-repeat;">
        </div>
        <p class="text-dark fs-6 fw-light col-xxl-4 col-md-10 col-sm-12 px-3 py-2">
          It was important to get the messaging right, so we used the Los Téves family to convey a message of community. With younger members of the family lending a hand to more senior family, neighbours and friends, while encouraging the viewers to do the same. We also took this opportunity to take the Los Téves across Chile, with the family visiting different regions across the country.        </p>
      </div>
    </div>
  </div>
</div>
<!-- container-->





<app-carouselcasestudies2></app-carouselcasestudies2>



<!-- container-->

<div class=" container-fluid">

  <div class=" row" style="border-bottom:solid 1px #4C0054; border-top:solid 1px #4C0054;">
      <div class="col-xl-6 col-sm-12 p-0 m-0" style="border-right:solid 1px #4C0054; padding-right: 0px;" >

          <div class=" col-md-12 align-items-end d-flex" style="text-align: right; border-bottom:solid 1px #4C0054;">
              <div id="columna3" class="col-xl-6 col-md-10 col-sm-12 pt-5 pb-5 p-md-0 p-sm-5  row align-items-end d-flex offset-xl-3 offset-md-1" style=" text-align: right; float: right; ">
                  <h2>The Process</h2>
                  <p class="text-end text-dark fs-6 fw-light  col-12  m-0 px-3 py-2">With a tight deadline such as this, it was a real time crunch so we took advantage of having teams in both Chile and Australia. This strategy allowed us to bounce creative tasks back and forth between countries, taking advantage of the time difference allowing us to work on this project around the clock. This ensured that we met our deadlines and the “Los Téves” were seen across Chile for the first time on 10 March 2024.<br><br>

                    We started by assembling a team of 20 of Pink Dog’s best and brightest. Working with Anatel we quickly developed the “Los Téves” then it was into production. Our writers started with scripts, working with our designers and illustrators to establish each episode of the TV family, simultaneously our web team worked on building a landing page and portal to provide vital information about the roll out and answer important questions had by viewers.</p>
              </div>
          </div>



          <div class="row col-12 align-items-end align-middle justify-content-end d-flex p-0 m-0" style="padding: 0px;">
              <div id="columna4" class="col-md-4 col-sm-12 offset-0 align-items-center justify-content-center align-middle my-auto" >
                  <p class=" text-dark fs-6 fw-light m-0 px-3 py-5 justify-content-center align-middle">BLT were impressed. So impressed in fact, that they even asked us to help develop photographic and video content for their new website to showcase their offerings.</p>

              </div>

              <div id="bltimgl2" class="col-md-6 col-sm-12 align-items-end" style="  background-image: url('../../../assets/img/portfolio/photol2B.png'); background-size: cover; height:550px; float: right; text-align: right; padding: 0px;" > </div>

          </div>
      </div>




      <div class="col-xxl-6 col-sm-12 pt-5">
          <div class="col-md-12 row d-flex">
              <div id="columna5" class="col-lg-6 col-md-10 flex-column d-flex p-3">
                  <p class="text-dark fs-6 fw-light  col-12 m-0 px-5 py-2">Once the scripts and storyboards were signed off it was handed over to illustration and animation teams, who worked their butts off to ensure the “Los Téves” visually came to life. Our 3D animators worked to create the settings and props for the spaces that the “Los Téves” appear in.</p>
              </div>
          </div>
          <div id="columna6" class="col-xl-12  row p-5">
            <div class="col-xl-6 col-md-6 col-sm-12" style="background-image: url('../../../assets/img/portfolio/photor2B.jpg'); width: 334px; height: 548px; background-size: contain; background-repeat: no-repeat;"></div>
            <p class="text-dark fs-6 fw-light  col-md-4 col-sm-12 m-0 px-3 py-2">While our animators and illustrators worked tirelessly our audiovisuals team brought out scripts to life working with voice actors to record voice overs for the characters and an intro jingle for the Téves family, as well as all music and sound effects for the campaign.</p>
          </div>
      </div>
  </div>
</div>


<!-- container-->







<!--container-->



<div class="container-fluid" >

    <div class=" row d-flex align-items-center align-middle justify-content-center" style="border: solid1px #4C0054;">
        <div class="px-1  col-xxl-4 col-md-4 offset-xxl-1 offset-md-1 py-0  ">
            <h2 class=" fs-2  m-0 px-3 py-2" style="text-align: left;">The Results</h2>
            <p class=" fs-6 fw-light  m-0 px-3 py-2 " style="text-align: left;">The “Los Téves” campaign ran nationally for 6 weeks, with a new episode airing weekly and each episode discussing a different topic associated with the switch. Episodes ran during commercial breaks on all Chilean TV networks, with 20 minutes of daily air time during morning, afternoon and prime time spots.

              The campaign was also delivered via social media with questions and comments about the transition answered on these platforms in real-time.

              In 6 weeks the “Los Téves” reached across the nation, informing all TV viewers about the changes happening and everything that they needed to know to get digital TV ready.</p>
        </div>
        <div class="col-xxl-1 col-md-1" style="border-right: solid 1px #4C0054;"></div>


        <div class="col-xxl-6 col-md-6" style="text-align: right; background-image: url('../../../assets/img/portfolio/photor3B.jpg'); background-size: contain; min-height: 744px; background-repeat: no-repeat; background-color: #E2FBFF;">


        </div>
    </div>



</div>

<!--container-->







<div class="divider" style="border-top: solid 1px #4C0054;"></div>

<app-home-brand-consultation></app-home-brand-consultation>
<div class="divider" style="border-bottom: solid 1px #4C0054;"></div>




