.subtitulo{
  font-family: RiskGroteskBold;
  color: #4C0054;


  }
  .challengue {
    border-left: solid 1px #4C0054; border-right: solid 1px #4C0054;

  }
  #bltimgl2{
    background-image: url('../../../assets/img/portfolio/photol2.png'); background-size: cover; height:550px; float: right; text-align: right; padding: 0px;

  }
  .d-only-sm-flex {
    display:flex;
  }
  .pill{
    margin-top: 10px;
    background-color: #E8FF48;
    text-align: center;
    min-width: 130px;
    max-width: 140px;
    float: right;
    border-radius: 25px;
    font-size: 18px;
    font-family: RiskGroteskItal;
    text-align: center;

    }
  .caselogo{

      margin: 6px; margin-right: 10px; margin-top: 0px;
  }
  .caseleft{
    border-left: solid 1px #4C0054; border-right:solid 1px #4C0054; margin-top: 0px; padding-top: 100px; padding-bottom: 100px;
  }
  #columna2{
    height: 480px; text-align: right; padding: 0px;
  }  #columna3{
    margin-top: 30px;
    margin-bottom: 30px;
  }


  @media only screen and (max-width: 576px) {
    .challengue {
      border-left: none; border-right: none;
    }

    .noborder{
      border-left: none!important;
       border-right:none!important;;

    }
    .d-only-sm-flex {
      display:inline-block !important;
  }

  #columna2{
    height: 430px; text-align: center;

  }
  #columna3{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 40px; padding-right: 40px;
  }

  #bltimgl2{
   background-size: cover; height:550px; float: right; text-align: right; padding: 0px; width: 100%;

  }

  }
