

<!-- Modal 10-->
<div class="modal fade modal-xl" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

<div class=" row justify-content-center align-items-center" style="margin-bottom: 40px; margin-top: 40px;">
  <h2 class="text-center col-12 m-0 px-3 py-2" style="font-family:PPMonument; font-size: 48px; ">LBH</h2>
  <p class="text-center text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2 pb-4">Office Design</p>
<br> <p style="padding-left: 10%; padding-right: 10%;">
  App developer LBH approached Pink Dog with the task of redesigning their offices, to ensure they were a more pleasant environment for their staff and guests.<br><br>

  Pink Dog got to work considering the space and how it could better be used, with a view to the future we ensured spaces were both functional and catered to a growing team. Hard floorings were added strategically to create break out spaces, storage was added to clean up the space and add functionality. The brand was considered throughout the design, bringing in splashes of brand blue throughout the design.
  </p>
  <img src="../../../assets/img/portfolio/07.LBH/croquis-drawing-sketch-interior-fitout.jpg" class="modalimg" alt="croquis-drawing-sketch-interior-fitout">
  <img src="../../../assets/img/portfolio/07.LBH/isometric-view-office-layout-interior.jpg" class="modalimg" alt="isometric-view-office-layout-interior">
  <img src="../../../assets/img/portfolio/07.LBH/kitchenette-lounge-interior-office-design.jpg" class="modalimg" alt="kitchenette-lounge-interior-office-design">
  <img src="../../../assets/img/portfolio/07.LBH/croquis-drawing-sketch-interior-fitout.jpg" class="modalimg" alt="croquis-drawing-sketch-interior-fitout">
  <img src="../../../assets/img/portfolio/07.LBH/isometric-view-office-layout-interior.jpg" class="modalimg" alt="isometric-view-office-layout-interior">
  <img src="../../../assets/img/portfolio/07.LBH/kitchenette-lounge-interior-office-design.jpg" class="modalimg" alt="kitchenette-lounge-interior-office-design">




      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
