
<div class=" row justify-content-center align-items-center" style="margin-bottom: 40px; margin-top: 40px;">
    <h2 class="text-center col-12 m-0 px-3 py-2" style="font-family:PPMonument; font-size: 48px; ">Portfolio</h2>
    <p class="text-center text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Lorem ipsum dolor sit amet consectetur.</p>
</div>

<app-modalportfolio></app-modalportfolio>
<app-portfoliocarousel></app-portfoliocarousel>
<app-portfolio-cards></app-portfolio-cards>
<div class="divider" style="border-top: solid 1px #4C0054;  margin-top: 100px;"></div>

<app-home-brand-consultation></app-home-brand-consultation>
<div class="divider" style="border-bottom: solid 1px #4C0054; margin-bottom: 100px;"></div>
