

<!-- Modal 10-->
<div class="modal fade modal-xl" id="exampleModal10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

<div class=" row justify-content-center align-items-center" style="margin-bottom: 40px; margin-top: 40px;">
  <h2 class="text-center col-12 m-0 px-3 py-2" style="font-family:PPMonument; font-size: 48px; ">Oatley Cottage</h2>
  <p class="text-center text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2 pb-4">eCommerce website design and development</p>
<br> <p style="padding-left: 10%; padding-right: 10%;">
  Long established craft and embroidery business Oatley Cottage approached Pink Dog Studio with a simple problem, how can they show up in an increasingly digital world. Established in 1991 Oatley Cottage’s brick and mortar business has been a part of the community for decades, but with the nature of shopping being digital in 2023 there was a huge audience they were missing by not having an online store.<br><br>

  Oatley Cottage already had a crack at moving into the digital, but with an ageing wordpress site and neglected WooCommerce plug in, the current iteration of their website just wasn’t pulling it’s weight, particularly because it was currently offline.<br><br>

  Our solution? Simplicity is key, with the owners and staff of the business already busy enough it was important that their website was easy to update and manage. We opted to use Shopify as our platform of choice, given the simplicity of setup this ensured that the Oatley Cottage team could maintain their website and inventory simply and with little barrier to entry.<br><br>

  We started by ensuring we captured all categories of their products, arranging them into collections that made sense, we then laid out the site applying Oatley Cottage’s brand colours, fonts and logos to ensure their website matched their master brand. We also took into account store location, blog and classes to ensure we captured everything they offer.  </p>
  <img src="../../../assets/img/portfolio/10.Oatley Cottage/ecommerce-design-shopify-products-web.jpg" class="modalimg" alt="ecommerce-design-shopify-products-web">
  <img src="../../../assets/img/portfolio/10.Oatley Cottage/online-shop-shopify-design-custom.jpg" class="modalimg" alt="online-shop-shopify-design-custom">
  <img src="../../../assets/img/portfolio/10.Oatley Cottage/setup-autoadministrable-products-details-web.jpg" class="modalimg" alt="setup-autoadministrable-products-details-web">
  <img src="../../../assets/img/portfolio/10.Oatley Cottage/website-eccomerce-responsive-shopify.jpg" class="modalimg" alt="website-eccomerce-responsive-shopify.">





      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
