

<!-- Modal 10-->
<div class="modal fade modal-xl" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

<div class=" row justify-content-center align-items-center" style="margin-bottom: 40px; margin-top: 40px;">
  <h2 class="text-center col-12 m-0 px-3 py-2" style="font-family:PPMonument; font-size: 48px; ">Taste Baguette</h2>
  <p class="text-center text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2 pb-4">Website Design and Content</p>
<br> <p style="padding-left: 10%; padding-right: 10%;">
  When bakery franchise Taste Baguette approached Pink Dog it was clear from the get go that they needed a new website, their existing website was dated, hard to update and most importantly didn’t showcase their amazing products. We worked with Taste Baguette to identify exactly what they needed from their website and got work on the design and content. From our initial conversation with Hieu and Madeleine we realised that they had a real passion for the business and a great story behind it, so we worked with them to tell this story through their website humanising the brand with its audience. It was crucial the website showcased Taste Baguette's great products, so we set about creating an online menu that highlighted each menu item with a clear photo, description and dietary information.
</p>
<img src="../../../assets/img/portfolio/06.Taste Bagette/menu-web-design-bakery-colour.jpg" class="modalimg" alt="menu-web-design-bakery-colour">
<img src="../../../assets/img/portfolio/06.Taste Bagette/Text-copywriter-web-story-branding.jpg" class="modalimg" alt="Text-copywriter-web-story-branding">
<img src="../../../assets/img/portfolio/06.Taste Bagette/website-ux-ui-design-responsive.jpg" class="modalimg" alt="website-ux-ui-design-responsive">



      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
