
<div class="container-fluid justify-content-center align-items-center align-middle  overlay">
    <div class="row justify-content-center align-items-center align-middle ">
       
            <div class="col mx-auto my-auto">
            </div> 
            <div class="col mx-auto my-auto justify-content-center align-items-center align-middle" style="text-align: center;">
            <img src="../../../assets/img/logo-white.svg" class="justify-content-center align-items-center align-middle overlayimg">
            </div> 
            <div class="col mx-auto my-auto">
            </div> 
      
    
    </div>
</div>
