<!--google comments-->

<div  class="container" style="margin-top: 100px;">
    <div class="row justify-content-center">


          <!--google comment-->

          <div class="col-xxl-4 col-lg-6 col-md-12 comment">
            <a href="https://www.google.cl/search?q=pinkdogstudio&sca_esv=23c20ded85caa685&source=hp&ei=qsNgZtPsI_zB5OUPje3LiAs&iflsig=AL9hbdgAAAAAZmDRupNjbWWU58vZkwj3zKO5mxKxJzsI&ved=0ahUKEwjT6YaNoMWGAxX8ILkGHY32ErEQ4dUDCA0&uact=5&oq=pinkdogstudio&gs_lp=Egdnd3Mtd2l6Ig1waW5rZG9nc3R1ZGlvMgcQABiABBgNMggQABgIGA0YHjIIEAAYCBgNGB4yCBAAGIAEGKIESKcqUABYzyhwAHgAkAEAmAGKAaABlg2qAQQwLjEzuAEDyAEA-AEBmAINoAK1DsICCxAAGIAEGLEDGIMBwgIEEAAYA8ICBRAAGIAEwgIIEAAYgAQYsQPCAg4QABiABBixAxiDARiKBcICBRAuGIAEwgILEC4YgAQYxwEYrwHCAggQLhiABBixA8ICCxAuGIAEGLEDGIMBwgIHEAAYgAQYCsICBxAuGIAEGArCAgYQABgKGB7CAgYQABgNGB7CAggQABgNGB4YD8ICChAAGAoYDRgeGA_CAgoQABgIGA0YHhgPmAMAkgcGMC4xMi4xoAf3ag&sclient=gws-wiz#ip=1&lrd=0x4c104b85c6565ec7:0x5b948ee0c287e034,1,,,," target="_blank" >
            <div class="border border-1 border-dark col-12">
              <div class="col-12 d-flex brosa" style=" height: 64px;">
                <img class="col-2" style=" height: 70px; width: 70px; margin-top: 10px; max-width: 70px; max-height: 70px; margin-left: 10px;" src="../../../assets/img/gcomments1.png" />
                <div class="col-7 mx-auto" >

                    <p class="commenttitulo">Camila Labra</p>
                    <p class="commnettitulosub">Fluoresencia</p>

                  </div>
                  <div class="col-2 text-center align-items-center" style="border-left: 1px solid #450351; vertical-align: middle;"><img src="../../assets/img/Google__logo.png" class="gimage"> </div>

            </div>
            </div>

            <div class="px-1 py-1 col-12 justify-content-center align-items-center d-flex " style="border: solid 1px #450351; border-top: none;">
                <p class=" col-10 m-0 px-3 py-4 commentparrafo" style="font-family: helveticaNeve; letter-spacing: 1px;">“I love everything that the Pink Dog team is capable of achieving, they add value from the design in every detail, I received great advice on how to build a brand with professionalism...”</p>
            </div>
            <div class="px-1 py-1 col-12 justify-content-center align-items-center bamarillo" style="border: solid 1px #450351; border-top: none; text-align: center; ">
                <div class="px-1 py-1 bg-white botonGoogle col justify-content-center align-items-center">
                    <div class="col-12 row justify-content-center align-items-center; " style="text-align: center;" >
                        <p class="col-11 m-0 px-3 pt-2"><span class="points">5.0</span><span class="rating">/5.0 rating</span></p>
                        <div class="position-relative">
                            <div class="left-0 top-0 col-6 pb-2" style="margin-bottom: 20px; text-align:center; margin-left:36%;">
                          <i class="bi bi-star-fill" ></i>
                          <i class="bi bi-star-fill" ></i>
                           <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>

                        </div></div>
                    </div>
                </div>
            </div>
           </a>
        </div>
            <!--google comment-->

          <!--google comment-->

          <div class="col-xxl-4 col-lg-6 col-md-12 comment">
            <a href="https://www.google.cl/search?q=pinkdogstudio&sca_esv=23c20ded85caa685&source=hp&ei=qsNgZtPsI_zB5OUPje3LiAs&iflsig=AL9hbdgAAAAAZmDRupNjbWWU58vZkwj3zKO5mxKxJzsI&ved=0ahUKEwjT6YaNoMWGAxX8ILkGHY32ErEQ4dUDCA0&uact=5&oq=pinkdogstudio&gs_lp=Egdnd3Mtd2l6Ig1waW5rZG9nc3R1ZGlvMgcQABiABBgNMggQABgIGA0YHjIIEAAYCBgNGB4yCBAAGIAEGKIESKcqUABYzyhwAHgAkAEAmAGKAaABlg2qAQQwLjEzuAEDyAEA-AEBmAINoAK1DsICCxAAGIAEGLEDGIMBwgIEEAAYA8ICBRAAGIAEwgIIEAAYgAQYsQPCAg4QABiABBixAxiDARiKBcICBRAuGIAEwgILEC4YgAQYxwEYrwHCAggQLhiABBixA8ICCxAuGIAEGLEDGIMBwgIHEAAYgAQYCsICBxAuGIAEGArCAgYQABgKGB7CAgYQABgNGB7CAggQABgNGB4YD8ICChAAGAoYDRgeGA_CAgoQABgIGA0YHhgPmAMAkgcGMC4xMi4xoAf3ag&sclient=gws-wiz#ip=1&lrd=0x4c104b85c6565ec7:0x5b948ee0c287e034,1,,,," target="_blank" >

            <div class="border border-1 border-dark col-12">
              <div class="col-12 d-flex brosa" style=" height: 64px;">
                <img class="col-2" style="  height: 70px; width: 70px; margin-top: 10px; max-width: 70px; max-height: 70px; margin-left: 10px;" src="../../../assets/img/gcomments2.png" />
                <div class="col-7 mx-auto" >

                    <p class="commenttitulo">Rafael Pérez</p>
                    <p class="commnettitulosub">BLT Minibodegas</p>

                  </div>
                  <div class="col-2 text-center align-items-center" style="border-left: 1px solid #450351; vertical-align: middle;"><img src="../../assets/img/Google__logo.png" class="gimage"> </div>

            </div>
            </div>

            <div class="px-1 py-1 col-12 justify-content-center align-items-center d-flex " style="border: solid 1px #450351; border-top: none;">
                <p class=" col-10 m-0 px-3 py-4 commentparrafo" style="font-family: helveticaNeve; letter-spacing: 1px; ">“Professional and efficient in finding solutions.
 Clear proposals, where the result is the same as projected at the beginning.
 We will work with Pinkdog again..."</p>
            </div>
            <div class="px-1 py-1 col-12 justify-content-center align-items-center bamarillo" style="border: solid 1px #450351; border-top: none; text-align: center; ">
                <div class="px-1 py-1 bg-white botonGoogle col justify-content-center align-items-center">
                    <div class="col-12 row justify-content-center align-items-center; " style="text-align: center;" >
                        <p class="col-11 m-0 px-3 pt-2"><span class="points">5.0</span><span class="rating">/5.0 rating</span></p>
                        <div class="position-relative">
                            <div class="left-0 top-0 col-6 pb-2" style="margin-bottom: 20px; text-align:center; margin-left:36%;">
                          <i class="bi bi-star-fill" ></i>
                          <i class="bi bi-star-fill" ></i>
                           <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>

                        </div></div>
                    </div>
                </div>
            </div>
           </a>
        </div>
            <!--google comment-->


          <!--google comment-->

          <div class="col-xxl-4 col-lg-6 col-md-12 comment">
            <a href="https://www.google.cl/search?q=pinkdogstudio&sca_esv=23c20ded85caa685&source=hp&ei=qsNgZtPsI_zB5OUPje3LiAs&iflsig=AL9hbdgAAAAAZmDRupNjbWWU58vZkwj3zKO5mxKxJzsI&ved=0ahUKEwjT6YaNoMWGAxX8ILkGHY32ErEQ4dUDCA0&uact=5&oq=pinkdogstudio&gs_lp=Egdnd3Mtd2l6Ig1waW5rZG9nc3R1ZGlvMgcQABiABBgNMggQABgIGA0YHjIIEAAYCBgNGB4yCBAAGIAEGKIESKcqUABYzyhwAHgAkAEAmAGKAaABlg2qAQQwLjEzuAEDyAEA-AEBmAINoAK1DsICCxAAGIAEGLEDGIMBwgIEEAAYA8ICBRAAGIAEwgIIEAAYgAQYsQPCAg4QABiABBixAxiDARiKBcICBRAuGIAEwgILEC4YgAQYxwEYrwHCAggQLhiABBixA8ICCxAuGIAEGLEDGIMBwgIHEAAYgAQYCsICBxAuGIAEGArCAgYQABgKGB7CAgYQABgNGB7CAggQABgNGB4YD8ICChAAGAoYDRgeGA_CAgoQABgIGA0YHhgPmAMAkgcGMC4xMi4xoAf3ag&sclient=gws-wiz#ip=1&lrd=0x4c104b85c6565ec7:0x5b948ee0c287e034,1,,,," target="_blank" >

            <div class="border border-1 border-dark col-12">
              <div class="col-12 d-flex brosa" style=" height: 64px;">
                <img class="col-2" style="  height: 70px; width: 70px; margin-top: 10px; max-width: 70px; max-height: 70px; margin-left: 10px;" src="../../../assets/img/gcomments3.png" />
                <div class="col-7 mx-auto" >

                    <p class="commenttitulo">Matías Vega</p>
                    <p class="commnettitulosub">Caleu</p>

                  </div>
                  <div class="col-2 text-center align-items-center" style="border-left: 1px solid #450351; vertical-align: middle;"><img src="../../assets/img/Google__logo.png" class="gimage"> </div>

            </div>
            </div>

            <div class="px-1 py-1 col-12 justify-content-center align-items-center d-flex " style="border: solid 1px #450351; border-top: none;">
                <p class=" col-10 m-0 px-3 py-4 commentparrafo" style="font-family: helveticaNeve; letter-spacing: 1px;">“I have worked with Yuri and Pink Dog Studio, for the last two years. I am very satisfied with their work, since they are creative, responsible and professional in their proposals..."</p>
            </div>
            <div class="px-1 py-1 col-12 justify-content-center align-items-center bamarillo" style="border: solid 1px #450351; border-top: none; text-align: center; ">
                <div class="px-1 py-1 bg-white botonGoogle col justify-content-center align-items-center">
                    <div class="col-12 row justify-content-center align-items-center; " style="text-align: center;" >
                        <p class="col-11 m-0 px-3 pt-2"><span class="points">5.0</span><span class="rating">/5.0 rating</span></p>
                        <div class="position-relative">
                            <div class="left-0 top-0 col-6 pb-2" style="margin-bottom: 20px; text-align:center; margin-left:36%;">
                          <i class="bi bi-star-fill" ></i>
                          <i class="bi bi-star-fill" ></i>
                           <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>

                        </div></div>
                    </div>
                </div>
            </div>
           </a>
        </div>
            <!--google comment-->

            </div></div>
