<!--google comments-->

<div  class="container">
    <div class="row justify-content-center">


          <!--google comment-->

          <div class="col-xxl-4 col-lg-6 col-md-12 comment">
            <a href="#">
            <div class="border border-1 border-dark col-12">
              <div class="col-12 d-flex brosa" style=" height: 64px;">
                <img class="col-2" style=" height: 80px; width: 80px; margin-top: 10px;" src="../../assets/img/comment1.png" />
                <div class="col-7 mx-auto" >

                    <p class="commenttitulo">Richard Parker</p>
                    <p class="commnettitulosub">Empresa</p>

                  </div>
                  <div class="col-2 text-center align-items-center" style="border-left: 1px solid #450351; vertical-align: middle;"><img src="../../assets/img/Google__logo.png" class="gimage"> </div>

            </div>
            </div>

            <div class="px-1 py-1 col-12 justify-content-center align-items-center d-flex " style="border: solid 1px #450351; border-top: none;">
                <p class=" col-10 m-0 px-3 py-2 commentparrafo" style="font-family: helveticaNeve; letter-spacing: 1px;">“Lorem ipsum dolor sit amet consectetur. Ullamcorper platea id maecenas quis tempus condimentum sagittis leo. Amet pharetra cursus urna enim porttitor. <br/>Arcu suspendisse ut”</p>
            </div>
            <div class="px-1 py-1 col-12 justify-content-center align-items-center bamarillo" style="border: solid 1px #450351; border-top: none; text-align: center; ">
                <div class="px-1 py-1 bg-white botonGoogle col justify-content-center align-items-center">
                    <div class="col-12 row justify-content-center align-items-center; " style="text-align: center;" >
                        <p class="col-11 m-0 px-3 pt-2"><span class="points">5.0</span><span class="rating">/5.0 rating</span></p>
                        <div class="position-relative">
                            <div class="left-0 top-0 col-6 pb-2" style="margin-bottom: 20px; text-align:center; margin-left:36%;">
                          <i class="bi bi-star-fill" ></i>
                          <i class="bi bi-star-fill" ></i>
                           <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>

                        </div></div>
                    </div>
                </div>
            </div>
           </a>
        </div>
            <!--google comment-->

          <!--google comment-->

          <div class="col-xxl-4 col-lg-6 col-md-12 comment">
            <a href="#">
            <div class="border border-1 border-dark col-12">
              <div class="col-12 d-flex brosa" style=" height: 64px;">
                <img class="col-2" style=" height: 80px; width: 80px; margin-top: 10px;" src="../../assets/img/comment1.png" />
                <div class="col-7 mx-auto" >

                    <p class="commenttitulo">Richard Parker</p>
                    <p class="commnettitulosub">Empresa</p>

                  </div>
                  <div class="col-2 text-center align-items-center" style="border-left: 1px solid #450351; vertical-align: middle;"><img src="../../assets/img/Google__logo.png" class="gimage"> </div>

            </div>
            </div>

            <div class="px-1 py-1 col-12 justify-content-center align-items-center d-flex " style="border: solid 1px #450351; border-top: none;">
                <p class=" col-10 m-0 px-3 py-2 commentparrafo" style="font-family: helveticaNeve; letter-spacing: 1px;">“Lorem ipsum dolor sit amet consectetur. Ullamcorper platea id maecenas quis tempus condimentum sagittis leo. Amet pharetra cursus urna enim porttitor. <br/>Arcu suspendisse ut”</p>
            </div>
            <div class="px-1 py-1 col-12 justify-content-center align-items-center bamarillo" style="border: solid 1px #450351; border-top: none; text-align: center; ">
                <div class="px-1 py-1 bg-white botonGoogle col justify-content-center align-items-center">
                    <div class="col-12 row justify-content-center align-items-center; " style="text-align: center;" >
                        <p class="col-11 m-0 px-3 pt-2"><span class="points">5.0</span><span class="rating">/5.0 rating</span></p>
                        <div class="position-relative">
                            <div class="left-0 top-0 col-6 pb-2" style="margin-bottom: 20px; text-align:center; margin-left:36%;">
                          <i class="bi bi-star-fill" ></i>
                          <i class="bi bi-star-fill" ></i>
                           <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>

                        </div></div>
                    </div>
                </div>
            </div>
           </a>
        </div>
            <!--google comment-->


          <!--google comment-->

          <div class="col-xxl-4 col-lg-6 col-md-12 comment">
            <a href="#">
            <div class="border border-1 border-dark col-12">
              <div class="col-12 d-flex brosa" style=" height: 64px;">
                <img class="col-2" style=" height: 80px; width: 80px; margin-top: 10px;" src="../../assets/img/comment1.png" />
                <div class="col-7 mx-auto" >

                    <p class="commenttitulo">Richard Parker</p>
                    <p class="commnettitulosub">Empresa</p>

                  </div>
                  <div class="col-2 text-center align-items-center" style="border-left: 1px solid #450351; vertical-align: middle;"><img src="../../assets/img/Google__logo.png" class="gimage"> </div>

            </div>
            </div>

            <div class="px-1 py-1 col-12 justify-content-center align-items-center d-flex " style="border: solid 1px #450351; border-top: none;">
                <p class=" col-10 m-0 px-3 py-2 commentparrafo" style="font-family: helveticaNeve; letter-spacing: 1px;">“Lorem ipsum dolor sit amet consectetur. Ullamcorper platea id maecenas quis tempus condimentum sagittis leo. Amet pharetra cursus urna enim porttitor. <br/>Arcu suspendisse ut”</p>
            </div>
            <div class="px-1 py-1 col-12 justify-content-center align-items-center bamarillo" style="border: solid 1px #450351; border-top: none; text-align: center; ">
                <div class="px-1 py-1 bg-white botonGoogle col justify-content-center align-items-center">
                    <div class="col-12 row justify-content-center align-items-center; " style="text-align: center;" >
                        <p class="col-11 m-0 px-3 pt-2"><span class="points">5.0</span><span class="rating">/5.0 rating</span></p>
                        <div class="position-relative">
                            <div class="left-0 top-0 col-6 pb-2" style="margin-bottom: 20px; text-align:center; margin-left:36%;">
                          <i class="bi bi-star-fill" ></i>
                          <i class="bi bi-star-fill" ></i>
                           <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                           <i class="bi bi-star-fill"></i>

                        </div></div>
                    </div>
                </div>
            </div>
           </a>
        </div>
            <!--google comment-->

            </div></div>
