
<app-servicescarousel></app-servicescarousel>
<div class="container-fluid">

    <div class="container  align-items-center" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="col-xxl-12 row justify-content-center">
            <div class="px-3 py-1 servicesbtn col-3 justify-content-center align-items-center d-flex">
                <p class=" m-0  s1">Brand Identity</p>
            </div>
            <div class="px-1 py-1 servicesbtn col-2 justify-content-center align-items-center d-flex">
                <p class="m-0 s2">Digital Design</p>
            </div>
            <div class="px-1 py-1 servicesbtn col-3 justify-content-center align-items-center d-flex">
                <p class="m-0 s3">Environmental Design</p>
            </div>
            <div class="px-1 py-1 servicesbtn col-2 justify-content-center align-items-center d-flex">
                <p class="m-0 s2">Marketing & Communications</p>
            </div>
            <div class="px-1 py-1 servicesbtn col-2 justify-content-center align-items-center d-flex">
                <p class="m-0 s4">Motion Graphics</p>
            </div>
            <div class="px-1 py-1 servicesbtn col-3 justify-content-center align-items-center d-flex">
                <p class="m-0 s2">Industrial Design & Architecture</p>
            </div>
        
            <div class="px-1 py-1 servicesbtn col-2 justify-content-center align-items-center d-flex">
                <p class="m-0 s4">Film & Photography</p>
            </div>
            <div class="px-1 py-1 servicesbtn col-2 justify-content-center align-items-center d-flex">
                <p class="m-0 s3">Retail In-store</p>
            </div>
            <div class="px-1 py-1 servicesbtn col-2 justify-content-center align-items-center d-flex">
                <p class="m-0 s1">Web Design</p>
            </div>
        </div>
    </div>

</div>


<!--box1-->

<div class="container-flex" style="border-top: solid 1px #4C0054;border-bottom: solid 1px #4C0054;">
 <div class=" row d-flex align-items-center" style="height: 668px;">
<div class="col-6 align-items-center" style=" height: 100%; border-right: solid 1px #4C0054;" >
<h2 style="text-align: right; margin-right: 20px; margin-top: 30px; margin-bottom: 20px; ">Brand Identity</h2>
<div>
    <div class="row align-items-end">
        <div class="col-12 row align-items-end d-flex">
            <div>
                <div class=" rounded-4 col-12 d-flex pillservices1">
                    <p class=" col-12 m-0 px-3 py-0 pillservicestxt1">Brand Strategy</p>
                </div>
            </div>
            <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Defining the identity, values and vibe of your brand.</p>
        </div>
        <div class="col-12 row align-items-end d-flex">
            <div>
                <div class="px-1 rounded-4 col-12 d-flex pillservices2">
                    <p class="  col-12 m-0 px-3  pillservicestxt2">Brand naming and taglines</p>
                </div>
            </div>
            <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Memorable names and powerful, hardworking taglines.</p>
        </div>
        <div class="col-12 row align-items-end d-flex">
            <div>
                <div class="px-1 rounded-4 col-12 d-flex pillservices3">
                    <p class="col-12 m-0 pillservicestxt3">Brand Tone of Voice</p>
                </div>
            </div>
            <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Defining how your brand speaks to its customers.</p>
        </div>
        <div class="col-12 row align-items-end d-flex">
            <div >
                <div class="px-1 rounded-4 col-12 d-flex pillservices4">
                    <p class=" col-12 m-0  pillservicestxt3">Brand Refresh & Redesign</p>
                </div>
            </div>
            <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Evolving and updating brands from simple refreshes to full redesigns.</p>
        </div>
        <div class="col-12 row align-items-end d-flex">
            <div>
                <div class="px-1 rounded-4 col-12 d-flex pillservices5">
                    <p class=" col-12 m-0  pillservicestxt5">Style guides</p>
                </div>
            </div>
            <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Documentation of your brand and how to use it.</p>
        </div>
    </div>

</div>
<div class="col-6" style="float: right; margin-top: 40px; max-width: 200px;">
    <a href="#">
<div class="px-1 py-1 servicesbtn2  justify-content-center align-items-center d-flex">
    <p class="m-0">View more projects</p>
</div></a>
</div>
</div>

  
<div class="col-6" style="background-image: url('../../assets/img/services1.png');background-size: cover; height: 100%;">

    
</div>


</div> 


</div>

<!--box1-->




<!--box2-->

<div class="container-flex" style="border-bottom: solid 1px #4C0054;">
    <div class=" row d-flex align-items-center" style="height: 668px; ">
        <div class="col-6" style="background-image: url('../../assets/img/services2.png');background-size: cover; height: 100%; border-right: solid 1px #4C0054; ">
   
       
        </div>


   <div class="col-6 align-items-center" style=" height: 100%;" >
   <h2 style="text-align: left; margin-left: 20px; margin-top: 30px; margin-bottom: 20px; ">Graphic Design<br>
    /Illustration</h2>
   <div>
       <div class="row align-items-start" style="text-align: left; margin-left: 20px;">
           <div class="col-12 row align-items-start d-flex">
               <div>
                   <div class=" rounded-4 col-12 d-flex pillservicesr1">
                       <p class=" col-12 m-0 px-3 py-0 pillservicestxtr1">Brand Strategy</p>
                   </div>
               </div>
               <p class="text-start text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Defining the identity, values and vibe of your brand.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservicesr2">
                       <p class="  col-12 m-0 px-3  pillservicestxtr2">Brand naming and taglines</p>
                   </div>
               </div>
               <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Memorable names and powerful, hardworking taglines.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservicesr3">
                       <p class="col-12 m-0 pillservicestxtr3">Brand Tone of Voice</p>
                   </div>
               </div>
               <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Defining how your brand speaks to its customers.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div >
                   <div class="px-1 rounded-4 col-12 d-flex pillservicesr4">
                       <p class=" col-12 m-0  pillservicestxtr3">Brand Refresh & Redesign</p>
                   </div>
               </div>
               <p class="text-start text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Evolving and updating brands from simple refreshes to full redesigns.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservicesr5">
                       <p class=" col-12 m-0  pillservicestxtr5">Style guides</p>
                   </div>
               </div>
               <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Documentation of your brand and how to use it.</p>
           </div>
       </div>
   
   </div>
   <div class="col-6" style="float: left; margin-top: 40px; max-width: 200px; margin-left: 20px;">
       <a href="#">
   <div class="px-1 py-1 servicesbtnr2  justify-content-center align-items-center d-flex">
       <p class="m-0">View more projects</p>
   </div></a>
   </div>
   </div>
   
     

   
   
   </div> 
   
   
   </div>
   
   <!--box2-->


<!--box3-->

<div class="container-flex" style="border-bottom: solid 1px #4C0054;">
    <div class=" row d-flex align-items-center" style="height: 668px;">
   <div class="col-6 align-items-center" style="height: 100%; border-right: solid 1px #4C0054;" >
   <h2 style="text-align: right; margin-right: 20px; margin-top: 30px; margin-bottom: 20px; ">Brand Identity</h2>
   <div>
       <div class="row align-items-end">
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class=" rounded-4 col-12 d-flex pillservices1">
                       <p class=" col-12 m-0 px-3 py-0 pillservicestxt1">Brand Strategy</p>
                   </div>
               </div>
               <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Defining the identity, values and vibe of your brand.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservices2">
                       <p class="  col-12 m-0 px-3  pillservicestxt2">Brand naming and taglines</p>
                   </div>
               </div>
               <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Memorable names and powerful, hardworking taglines.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservices3">
                       <p class="col-12 m-0 pillservicestxt3">Brand Tone of Voice</p>
                   </div>
               </div>
               <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Defining how your brand speaks to its customers.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div >
                   <div class="px-1 rounded-4 col-12 d-flex pillservices4">
                       <p class=" col-12 m-0  pillservicestxt3">Brand Refresh & Redesign</p>
                   </div>
               </div>
               <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Evolving and updating brands from simple refreshes to full redesigns.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservices5">
                       <p class=" col-12 m-0  pillservicestxt5">Style guides</p>
                   </div>
               </div>
               <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Documentation of your brand and how to use it.</p>
           </div>
       </div>
   
   </div>
   <div class="col-6" style="float: right; margin-top: 40px; max-width: 200px;">
       <a href="#">
   <div class="px-1 py-1 servicesbtn2  justify-content-center align-items-center d-flex">
       <p class="m-0">View more projects</p>
   </div></a>
   </div>
   </div>
   
     
   <div class="col-6" style="background-image: url('../../assets/img/services3.png');background-size: cover; height: 100%; ">
   
       
   </div>
   
   
   </div> 
   
   
   </div>
   
   <!--box3-->
   
   
   
   
   <!--box4-->
   
   <div class="container-flex" style="border-bottom: solid 1px #4C0054; margin-bottom: 100px;">
       <div class=" row d-flex align-items-center" style="height: 668px; ">
           <div class="col-6" style="background-image: url('../../assets/img/services2.png');background-size: cover; height: 100%; border-right: solid 1px #4C0054; ">
      
          
           </div>
   
   
      <div class="col-6 align-items-center" style=" height: 100%;" >
      <h2 style="text-align: left; margin-left: 20px; margin-top: 30px; margin-bottom: 20px; ">Graphic Design<br>
       /Illustration</h2>
      <div>
          <div class="row align-items-start" style="text-align: left; margin-left: 20px;">
              <div class="col-12 row align-items-start d-flex">
                  <div>
                      <div class=" rounded-4 col-12 d-flex pillservicesr1">
                          <p class=" col-12 m-0 px-3 py-0 pillservicestxtr1">Brand Strategy</p>
                      </div>
                  </div>
                  <p class="text-start text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Defining the identity, values and vibe of your brand.</p>
              </div>
              <div class="col-12 row align-items-end d-flex">
                  <div>
                      <div class="px-1 rounded-4 col-12 d-flex pillservicesr2">
                          <p class="  col-12 m-0 px-3  pillservicestxtr2">Brand naming and taglines</p>
                      </div>
                  </div>
                  <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Memorable names and powerful, hardworking taglines.</p>
              </div>
              <div class="col-12 row align-items-end d-flex">
                  <div>
                      <div class="px-1 rounded-4 col-12 d-flex pillservicesr3">
                          <p class="col-12 m-0 pillservicestxtr3">Brand Tone of Voice</p>
                      </div>
                  </div>
                  <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Defining how your brand speaks to its customers.</p>
              </div>
              <div class="col-12 row align-items-end d-flex">
                  <div >
                      <div class="px-1 rounded-4 col-12 d-flex pillservicesr4">
                          <p class=" col-12 m-0  pillservicestxtr3">Brand Refresh & Redesign</p>
                      </div>
                  </div>
                  <p class="text-start text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Evolving and updating brands from simple refreshes to full redesigns.</p>
              </div>
              <div class="col-12 row align-items-end d-flex">
                  <div>
                      <div class="px-1 rounded-4 col-12 d-flex pillservicesr5">
                          <p class=" col-12 m-0  pillservicestxtr5">Style guides</p>
                      </div>
                  </div>
                  <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Documentation of your brand and how to use it.</p>
              </div>
          </div>
      
      </div>
      <div class="col-6" style="float: left; margin-top: 40px; max-width: 200px; margin-left: 20px;">
          <a href="#">
      <div class="px-1 py-1 servicesbtnr2  justify-content-center align-items-center d-flex">
          <p class="m-0">View more projects</p>
      </div></a>
      </div>
      </div>
      
        
   
      
      
      </div> 
      
      
      </div>
      
      <!--box2-->




<div class="divider" style="background-color: #8EFFD5; margin-top: 100px;"></div>

<app-home-brand-consultation></app-home-brand-consultation>

<div class="divider" style="background-color: #8EFFD5; margin-bottom: 100px;"></div>