
<app-servicescarousel></app-servicescarousel>
<div class="container-fluid">
    <div class="container align-items-center" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="row justify-content-center">
            <button class="px-3 py-1 servicesbtn col-lg-3 col-md-4 d-flex justify-content-center align-items-center" (click)="scrollTo('BrandIdentity')">
                <p class="m-0 s1">Brand Identity</p>
            </button>
            <button class="px-1 py-1 servicesbtn col-lg-2 col-md-3 d-flex justify-content-center align-items-center" (click)="scrollTo('graphicdesign')">
                <p class="m-0 s2">Graphic Design</p>
            </button>
            <button class="px-1 py-1 servicesbtn col-lg-3 col-md-4 d-flex justify-content-center align-items-center" (click)="scrollTo('WebDesign')">
                <p class="m-0 s3">Web Design</p>
            </button>
            <button class="px-1 py-1 servicesbtn col-lg-2 col-md-3 d-flex justify-content-center align-items-center" (click)="scrollTo('Marketing')">
                <p class="m-0 s2">Marketing & Communications</p>
            </button>
            <button class="px-1 py-1 servicesbtn col-lg-2 col-md-3 d-flex justify-content-center align-items-center" (click)="scrollTo('VideoProduction')">
                <p class="m-0 s4">Video Production</p>
            </button>
            <button class="px-1 py-1 servicesbtn col-lg-3 col-md-4 d-flex justify-content-center align-items-center" (click)="scrollTo('MotionGraphics')">
                <p class="m-0 s2">Motion Graphics</p>
            </button>
            <button class="px-1 py-1 servicesbtn col-lg-2 col-md-3 d-flex justify-content-center align-items-center" (click)="scrollTo('Enviromental')">
                <p class="m-0 s4">Environmental Design</p>
            </button>
            <button class="px-1 py-1 servicesbtn col-lg-2 col-md-3 d-flex justify-content-center align-items-center" (click)="scrollTo('Industrial')">
                <p class="m-0 s3">Industrial Design</p>
            </button>
        </div>
    </div>
</div>

<!--box1-->
<div id="BrandIdentity" class="container-fluid p-0 m-0 box" style="border-top: solid 1px #4C0054; border-bottom: solid 1px #4C0054; ">
    <div class="row d-flex  align-items-center p-0 m-0" >
        <div class="col-sm-12 col-md-6 align-items-center">
            <h2 style="text-align: right; margin-right: 20px; margin-top: 30px; margin-bottom: 20px;">Brand Identity</h2>
            <div>
                <div class="row align-items-end">
                    <div class="col-12 row align-items-end d-flex">
                        <div>
                            <div class="rounded-4 col-12 d-flex pillservices1">
                                <p class="col-12 m-0 px-3 py-0 pillservicestxt1">Brand Strategy</p>
                            </div>
                        </div>
                        <p class="text-end text-dark fs-6 fw-light col-12 m-0 px-3 py-2">Defining the identity, values, and vibe of your brand.</p>
                    </div>
                    <div class="col-12 row align-items-end d-flex">
                        <div>
                            <div class="px-1 rounded-4 col-12 d-flex pillservices2">
                                <p class="col-12 m-0 px-3 pillservicestxt1">Brand Naming and Taglines</p>
                            </div>
                        </div>
                        <p class="text-end text-dark fs-6 fw-light col-12 m-0 px-3 py-2">Memorable names and powerful, hardworking taglines.</p>
                    </div>
                    <div class="col-12 row align-items-end d-flex">
                        <div>
                            <div class="px-1 rounded-4 col-12 d-flex pillservices3">
                                <p class="col-12 m-0 pillservicestxt1">Brand Tone of Voice</p>
                            </div>
                        </div>
                        <p class="text-end text-dark fs-6 fw-light col-12 m-0 px-3 py-2">Defining how your brand speaks to its customers.</p>
                    </div>
                    <div class="col-12 row align-items-end d-flex">
                        <div>
                            <div class="px-1 rounded-4 col-12 d-flex pillservices4">
                                <p class="col-12 m-0 pillservicestxt1">Brand Refresh & Redesign</p>
                            </div>
                        </div>
                        <p class="text-end text-dark fs-6 fw-light col-12 m-0 px-3 py-2">Evolving and updating brands from simple refreshes to full redesigns.</p>
                    </div>
                    <div class="col-12 row align-items-end d-flex">
                        <div>
                            <div class="px-1 rounded-4 col-12 d-flex pillservices5">
                                <p class="col-12 m-0 pillservicestxt1">Style Guides</p>
                            </div>
                        </div>
                        <p class="text-end text-dark fs-6 fw-light col-12 m-0 px-3 py-2">Documentation of your brand and how to use it.</p>
                    </div>
                </div>
            </div>
            <div class="col-6" style="float: right; margin-top: 40px; max-width: 200px;">
              <a href="#">
          <div class="px-1 py-1 servicesbtn2  justify-content-center align-items-center d-flex">
              <p class="m-0">View more projects</p>
          </div></a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 p-0" style="background-image: url(../../assets/img/services1.png); background-size: cover; background-position:center; height:728px; border-left: solid 1px #4C0054;">

        </div>
    </div>
</div>




<!--box2-->

<div id="graphicdesign" class="container-fluid p-0 m-0 box" >
    <div class=" row d-flex align-items-center p-0 m-0">

      <div class="col-md-6 col-sm-12 p-0 ocultar" style=" height:728px; margin-left: 1px!important;" >
        <div class="col-sm-12  p-0" style="background-image: url(../../assets/img/services2.png); background-size: cover; background-position:center; height:728px; border-right: solid 1px #4C0054; ">


        </div>
      </div>


   <div class="col-sm-12 col-md-6  align-items-center justify-content-center" style="margin-left: -1px;"  >
   <h2 style="text-align: left; margin-left: 20px; margin-top: 30px; margin-bottom: 20px; ">Graphic Design<br>
    /Illustration</h2>
   <div>
       <div class="row align-items-start" style="text-align: left; margin-left: 20px;">
           <div class="col-12 row align-items-start d-flex">
               <div>
                   <div class=" rounded-4 col-12 d-flex pillservicesr5">
                       <p class=" col-12 m-0  py-0 pillservicestxtr1">Logo design</p>
                   </div>
               </div>
               <p class="text-start text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Creating instantly recognisable symbols of your brand.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservicesr2" style="background-color: #8EFFD5;">
                       <p class="  col-12 m-0 px-3  pillservicestxtr1">Illustration</p>
                   </div>
               </div>
               <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Bringing your brand to life with fresh, modern and eye-catching visuals.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservicesr3" style="background-color: #C4A1E0;">
                       <p class="col-12 m-0 pillservicestxtr1" >Digital Design</p>
                   </div>
               </div>
               <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Making sure your brand looks as good online as it does in-store.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div >
                   <div class="px-1 rounded-4 col-12 d-flex pillservicesr5">
                       <p class=" col-12 m-0  pillservicestxtr1">Print Design</p>
                   </div>
               </div>
               <p class="text-start text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Eye-catching designs to stop them turning the page.</p>
           </div>

       </div>

   </div>
   <div class="col-6" style="float: left; margin-top: 40px; max-width: 200px; margin-left: 20px;">
       <a href="#">
   <div class="px-1 py-1 servicesbtnr2  justify-content-center align-items-center d-flex">
       <p class="m-0">View more projects</p>
   </div></a>
   </div>
   </div>





   </div>


   </div>

   <!--box2-->


<!--box3-->

<div id="WebDesign" class="container-fluid p-0 m-0 box" style="border-top: solid 1px #4C0054; border-bottom: solid 1px #4C0054; ">
  <div class="row d-flex  align-items-center p-0 m-0" >
      <div class="col-sm-12 col-md-6 align-items-center">
   <h2 style="text-align: right; margin-right: 20px; margin-top: 30px; margin-bottom: 20px; ">Web Design</h2>
   <div>
       <div class="row align-items-end">
           <div class=" row align-items-end d-flex">
               <div>
                   <div class=" rounded-4 col-12 d-flex pillservices6">
                       <p class=" col-12 m-0 px-3 py-0 pillservicestxt1">Website design and development</p>
                   </div>
               </div>
               <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Making the home of your brand a place people want to visit.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservices1">
                       <p class="  col-12 m-0 px-3  pillservicestxt1">E-commerce</p>
                   </div>
               </div>
               <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Everything you need to make selling online a success.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservices7">
                       <p class="col-12 m-0 pillservicestxt1">Website content production</p>
                   </div>
               </div>
               <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Compelling content that keeps them on your page.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div >
                   <div class="px-1 rounded-4 col-12 d-flex pillservices3">
                       <p class=" col-12 m-0  pillservicestxt1">Ui and Ux design</p>
                   </div>
               </div>
               <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Websites that are easy to use and easy on the eye.</p>
           </div>
           <div class="col-12 row align-items-end d-flex">
               <div>
                   <div class="px-1 rounded-4 col-12 d-flex pillservices1">
                       <p class=" col-12 m-0  pillservicestxt1">Digital Design</p>
                   </div>
               </div>
               <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Stylish modern design that makes a real statement for your brand.</p>
           </div>
       </div>

   </div>
   <div class="col-6" style="float: right; margin-top: 40px; max-width: 200px;">
       <a href="#">
   <div class="px-1 py-1 servicesbtn2  justify-content-center align-items-center d-flex">
       <p class="m-0">View more projects</p>
   </div></a>
   </div>
   </div>






   <div class="col-6  p-0 ocultar" style="background-image: url(../../assets/img/services3.png); background-size: cover; background-position:center; height:728px; border-left: solid 1px #4C0054;">
  </div>
   </div>


   </div>

   <!--box3-->




   <!--box4-->

   <div id="Marketing" class="container-fluid p-0 m-0 box">
    <div class=" row d-flex align-items-center p-0 m-0">

      <div class="col-md-6 col-sm-12 p-0" >
        <div class="p-0" style="background-image: url(../../assets/img/services2.png); background-size: cover; background-position:center; height:728px; border-left: solid 1px #4C0054;">


        </div>
      </div>


      <div class="col-sm-12 col-md-6 align-items-center" style="border-left: solid 1px #4C0054; height:728px;" >
      <h2 style="text-align: left; margin-left: 20px; margin-top: 30px; margin-bottom: 20px; ">Marketing<br>
       </h2>
      <div>
          <div class="row align-items-start" style="text-align: left; margin-left: 20px;">
              <div class="col-12 row align-items-start d-flex">
                  <div>
                      <div class=" rounded-4 col-12 d-flex pillservicesr1">
                          <p class=" col-12 m-0 px-3 py-0 pillservicestxtr1">Marketing Strategy</p>
                      </div>
                  </div>
                  <p class="text-start text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Planning and creating strategies to help customers reach their marketing goals.</p>
              </div>
              <div class="col-12 row align-items-end d-flex">
                  <div>
                      <div class="px-1 rounded-4 col-12 d-flex pillservicesr8">
                          <p class="  col-12 m-0 px-3  pillservicestxtr1">Social Media Marketing</p>
                      </div>
                  </div>
                  <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Social media campaigns, account optimisation, content, account management</p>
              </div>
              <div class="col-12 row align-items-end d-flex">
                  <div>
                      <div class="px-1 rounded-4 col-12 d-flex pillservicesr3">
                          <p class="col-12 m-0 pillservicestxtr1">Email Marketing</p>
                      </div>
                  </div>
                  <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Email template design and Email marketing design systems</p>
              </div>
              <div class="col-12 row align-items-end d-flex">
                  <div >
                      <div class="px-1 rounded-4 col-12 d-flex pillservicesr9">
                          <p class=" col-12 m-0  pillservicestxtr1">Google Ads</p>
                      </div>
                  </div>
                  <p class="text-start text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Promote your business, sell products & services, raise brand awareness</p>
              </div>
              <div class="col-12 row align-items-end d-flex">
                  <div>
                      <div class="px-1 rounded-4 col-12 d-flex pillservicesr8">
                          <p class=" col-12 m-0  pillservicestxtr1">Search Engine Optimisation</p>
                      </div>
                  </div>
                  <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Making sure your brand is top dog in online searches</p>
              </div>
          </div>

      </div>
      <div class="col-6" style="float: left; margin-top: 40px; max-width: 200px; margin-left: 20px;">
          <a href="#">
      <div class="px-1 py-1 servicesbtnr2  justify-content-center align-items-center d-flex">
          <p class="m-0">View more projects</p>
      </div></a>
      </div>
      </div>





      </div>


      </div>

      <!--box4-->
<!--box5-->

<div id="VideoProduction" class="container-fluid p-0 m-0 box" style="border-top: solid 1px #4C0054; ">
  <div class="row d-flex  align-items-center p-0 m-0" >
      <div class="col-sm-12 col-md-6 align-items-center">
 <h2 style="text-align: right; margin-right: 20px; margin-top: 30px; margin-bottom: 20px; ">Photography & <br>Video Production</h2>
 <div>
     <div class="row align-items-end">
         <div class="col-12 row align-items-end d-flex">
             <div>
                 <div class=" rounded-4 col-12 d-flex pillservices10">
                     <p class=" col-12 m-0 px-3 py-0 pillservicestxt1">Video/Photo shoots</p>
                 </div>
             </div>
             <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Cool commercials, vivid videos, pretty pictures and everything in between</p>
         </div>
         <div class="col-12 row align-items-end d-flex">
             <div>
                 <div class="px-1 rounded-4 col-12 d-flex pillservices11">
                     <p class="  col-12 m-0 px-3  pillservicestxt1">Script writing</p>
                 </div>
             </div>
             <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Bring your brand to life with our powerful storytelling and script writing</p>
         </div>
         <div class="col-12 row align-items-end d-flex">
             <div>
                 <div class="px-1 rounded-4 col-12 d-flex pillservices11" style="background-color: #C4A1E0;">
                     <p class="col-12 m-0 pillservicestxt1">Storyboarding</p>
                 </div>
             </div>
             <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Simple clear graphics to show how your video will come to life</p>
         </div>
         <div class="col-12 row align-items-end d-flex">
             <div >
                 <div class="px-1 rounded-4 col-12 d-flex pillservices5">
                     <p class=" col-12 m-0  pillservicestxt1">Production</p>
                 </div>
             </div>
             <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">We organise all the production elements from cameras to crew to catering</p>
         </div>
         <div class="col-12 row align-items-end d-flex">
             <div>
                 <div class="px-1 rounded-4 col-12 d-flex pillservices11">
                     <p class=" col-12 m-0  pillservicestxt1">Art Direction</p>
                 </div>
             </div>
             <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Take your video to the next level with our talented art directors</p>
         </div>
         <div class="col-12 row align-items-end d-flex">
          <div>
              <div class="px-1 rounded-4 col-12 d-flex pillservices5" style="background-color: #C4A1E0;">
                  <p class=" col-12 m-0  pillservicestxt1">Post-Production</p>
              </div>
          </div>
          <p class="text-end text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">We take care of all the editing, grading, mixing, music, sfx, graphics.</p>
      </div>
     </div>

 </div>
 <div class="col-6" style="float: right; margin-top: 0px; max-width: 200px;">
     <a href="#">
 <div class="px-1 py-1 servicesbtn2  justify-content-center align-items-center d-flex">
     <p class="m-0">View more projects</p>
 </div></a>
 </div>
 </div>


 <div class="col-sm-12 col-md-6 p-0 ocultar" style="background-image: url(../../assets/img/services5.png); background-size: cover; background-position:center; height:728px; border-left: solid 1px #4C0054;">

 </div>


 </div>


 </div>

 <!--box5-->




 <!--box6-->

 <div id="MotionGraphics" class="container-fluid p-0 m-0 box" style="border-top: solid 1px #4C0054;" >
  <div class=" row d-flex align-items-center p-0 m-0">

    <div class="col-md-6 col-sm-12 p-0" >
      <div class="col-sm-12  p-0" style="background-image: url(../../assets/img/services6.png); background-size: cover; background-position:center; height:728px;">


      </div>
    </div>


 <div class="col-sm-12 col-md-6  align-items-center" style="border-left: solid 1px #4C0054; height: 728px;"  >
    <h2 style="text-align: left; margin-left: 20px; margin-top: 30px; margin-bottom: 20px; ">Motion Graphics<br>
     /Illustration</h2>
    <div>
        <div class="row align-items-start" style="text-align: left; margin-left: 20px;">
            <div class="col-12 row align-items-start d-flex">
                <div>
                    <div class=" rounded-4 col-12 d-flex pillservicesr8" style="background-color: #8EFFD5;">
                        <p class=" col-12 m-0 px-3 py-0 pillservicestxtr1">2D and 3D animation</p>
                    </div>
                </div>
                <p class="text-start text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">We can bring your ideas to life with beautiful 2D or 3D animation</p>
            </div>
            <div class="col-12 row align-items-end d-flex">
                <div>
                    <div class="px-1 rounded-4 col-12 d-flex pillservicesr8" style="background-color: #C4A1E0;">
                        <p class="  col-12 m-0 px-3  pillservicestxtr1">Character animation</p>
                    </div>
                </div>
                <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Give your brand some real character</p>
            </div>
            <div class="col-12 row align-items-end d-flex">
                <div>
                    <div class="px-1 rounded-4 col-12 d-flex pillservicesr3" style="background-color: #E8FF48;">
                        <p class="col-12 m-0 pillservicestxtr1">Animated Graphics</p>
                    </div>
                </div>
                <p class="text-start text-dark fs-6 fw-light  col-12 m-0 px-3 py-2">Catch their attention with engaging graphics.</p>
            </div>


        </div>

    </div>
    <div class="col-6" style="float: left; margin-top: 40px; max-width: 200px; margin-left: 20px;">
        <a href="#">
    <div class="px-1 py-1 servicesbtnr2  justify-content-center align-items-center d-flex">
        <p class="m-0">View more projects</p>
    </div></a>
    </div>
    </div>





    </div>


    </div>

    <!--box6-->
<!--box7-->
<div id="Enviromental" class="container-fluid p-0 m-0"  style="border-bottom: solid 1px #4C0054; border-top: solid 1px #4C0054;">
  <div class="row d-flex align-items-center p-0 m-0" style="height: 728px;">
    <div class="col-12 col-md-6 align-items-center" style="border-right: solid 1px #4C0054;">
      <h2 style="text-align: right; margin-right: 20px; margin-top: 30px; margin-bottom: 20px;">Enviromental <br>Design</h2>
      <div>
        <div class="row align-items-end">
          <div class="col-12 row align-items-end d-flex">
            <div>
              <div class="rounded-4 col-12 d-flex pillservices3" style="background-color: #C4A1E0;">
                <p class="col-12 m-0 px-3 py-0 pillservicestxt1">Retail store design</p>
              </div>
            </div>
            <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Store layout, interior design, signage and wayfinding</p>
          </div>
          <div class="col-12 row align-items-end d-flex">
            <div>
              <div class="px-1 rounded-4 col-12 d-flex pillservices11" style="background-color: #E8FF48;">
                <p class="col-12 m-0 px-3 pillservicestxt1">Office design</p>
              </div>
            </div>
            <p class="text-end text-dark fs-6 fw-light col-12 m-0 px-3 py-2">Office layout, interior design, signage and wayfinding</p>
          </div>
          <div class="col-12 row align-items-end d-flex">
            <div>
              <div class="px-1 rounded-4 col-12 d-flex pillservices3">
                <p class="col-12 m-0 pillservicestxt1">Brand Tone of Voice</p>
              </div>
            </div>
            <p class="text-end text-dark fs-6 fw-light col-12 m-0 px-3 py-2">Defining how your brand speaks to its customers</p>
          </div>
          <div class="col-12 row align-items-end d-flex">
            <div>
              <div class="px-1 rounded-4 col-12 d-flex pillservices4">
                <p class="col-12 m-0 pillservicestxt1">Brand Refresh & Redesign</p>
              </div>
            </div>
            <p class="text-end text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Evolving and updating brands from simple refreshes to full redesigns</p>
          </div>
          <div class="col-12 row align-items-end d-flex">
            <div>
              <div class="px-1 rounded-4 col-12 d-flex pillservices5">
                <p class="col-12 m-0 pillservicestxt1">Style guides</p>
              </div>
            </div>
            <p class="text-end text-dark fs-6 fw-light col-12 m-0 px-3 py-2">Documentation of your brand and how to use it</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6" style="float: right; margin-top: 0px; max-width: 200px;">
        <a href="#">
          <div class="px-1 py-1 servicesbtn2 justify-content-center align-items-center d-flex">
            <p class="m-0">View more projects</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-6 ocultar" style="background-image: url('../../assets/img/services7.png'); background-size: cover; height: 100%;">
    </div>
  </div>
</div>
<!--box7-->

<!--box8-->
<div id="Industrial" class="container-fluid p-0 m-0 box">
  <div class="row d-flex align-items-center p-0 m-0">
    <div class="col-md-6 col-sm-12 p-0">
      <div class="col-12 p-0" style="background-image: url(../../assets/img/services8.png); background-size: cover; background-position: center; height: 728px; border-right: solid 1px #4C0054;border-bottom: solid 1px #4C0054;">
      </div>
    </div>
    <div class="col-12 col-md-6 align-items-center">
      <h2 style="text-align: left; margin-left: 20px; margin-top: 30px; margin-bottom: 20px; ">Industrial Design<br>& Architecture</h2>
      <div>
        <div class="row align-items-start" style="text-align: left; margin-left: 20px;">
          <div class="col-12 row align-items-start d-flex">
            <div>
              <div class="rounded-4 col-12 d-flex pillservicesr12">
                <p class="col-12 m-0 px-3 py-0 pillservicestxtr1">Construction Documentation</p>
              </div>
            </div>
            <p class="text-start text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Specifications, technical drawings, instructions on maintenance, we do it all.</p>
          </div>
          <div class="col-12 row align-items-end d-flex">
            <div>
              <div class="px-1 rounded-4 col-12 d-flex pillservicesr2" style="background-color: #8EFFD5;">
                <p class="col-12 m-0 px-3 pillservicestxtr1">Floorplans</p>
              </div>
            </div>
            <p class="text-start text-dark fs-6 fw-light col-12 m-0 px-3 py-2">Technical scale drawings that bring your dream to life</p>
          </div>
          <div class="col-12 row align-items-end d-flex">
            <div>
              <div class="px-1 rounded-4 col-12 d-flex pillservicesr12" style="background-color: #C4A1E0;">
                <p class="col-12 m-0 pillservicestxtr1">Product Concept Development</p>
              </div>
            </div>
            <p class="text-start text-dark fs-6 fw-light col-12 m-0 px-3 py-2">We’ll help create your product and test consumer reactions</p>
          </div>
          <div class="col-12 row align-items-end d-flex">
            <div>
              <div class="px-1 rounded-4 col-12 d-flex pillservicesr2">
                <p class="col-12 m-0 pillservicestxtr1">3D Renders</p>
              </div>
            </div>
            <p class="text-start text-dark fs-6 fw-light col-12 m-0 px-3 py-2">We help you create realistic visual representations to help sell your product</p>
          </div>
          <div class="col-12 row align-items-end d-flex">
            <div>
              <div class="px-1 rounded-4 col-12 d-flex pillservicesr3">
                <p class="col-12 m-0 pillservicestxtr1">2D & 3D CAD</p>
              </div>
            </div>
            <p class="text-start text-dark fs-6 fw-light col-12 m-0 px-3 py-2">We produce line drawings, layouts and virtual prototypes to realise your idea</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6" style="float: left; margin-top: 40px; max-width: 200px; margin-left: 20px;">
        <a href="#">
          <div class="px-1 py-1 servicesbtnr2 justify-content-center align-items-center d-flex">
            <p class="m-0">View more projects</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!--box8-->


    <!--box8-->


<div  class="divider" style="border-top: solid 1px #4C0054; margin-top: 100px;"></div>

<app-home-brand-consultation></app-home-brand-consultation>

<div class="divider" style="border-bottom: solid 1px #4C0054; margin-bottom: 100px;"></div>
