
<div class="container-fluid overflow-hidden p-0">
    <div class="row g-0" style="border-bottom: #450351 solid 1px;">

        <div class="col-xl-5 col-lg-5 order-md-1 text-start offset-xl-1 offset-lg-1 maintext">
            <div class="lc-block mb-3">
                <div>
                    <div class="w6">Helping retailers</div>
                    <h2 class="w5">Build brands that</h2>
                    <h2>
                    <div class="w4" style=" font-family:PPMonument; font-weight: 900;"><span class="highlight" >stand out</span></div>
                    <div><span  class="w3" style=" font-family: HelveticaNeue; font-weight: 300; ">and__</span><span class="w4"  style="font-family: RiskGroteskItal; font-style: italic; font-weight: 500; ">connect</span><span class="w3" style="font-family: Helvetica Neue; font-weight: 300;">__with<br/></span>
                        <span class="w4" style=" font-family: PPMonumentEXT; font-weight: 200;">Consumers.</span></div>
                    </h2>
                    <p class="w1">

                        Everything from graphic design, brand identity and video production to brand architecture and web design. All done in our inimitable Pink Dog way.
                     </p>


                </div>

            </div>

            <div class="w-auto" style="width: 100%;">
                <button class="btn btn-primary w-auto btnrosado btnheader" style="  margin-right: 10px;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact us</button>
                <button class="btn btn-outline-primary w-auto btnheader"  type="button" routerLink="/portfolio">Portfolio</button>
            </div><!-- /lc-block -->

        </div>

        <div class="col-md-6 order-md-2" >
          <div class="video-bg card">
              <video class="min-vh-50" autoplay="" preload="" muted="" loop="" playsinline="" style="object-fit: cover; object-position: 50% 50%;">
                  <source src="../../assets/video2.mp4" type="video/mp4">
              </video>
          </div>
      </div>


    </div>
</div>


<app-home-about></app-home-about>
<app-home-portfolio></app-home-portfolio>


<div  class="divider justify-content-center" style="border-top: solid 1px #450351;"></div>


<app-home-brand-consultation></app-home-brand-consultation>

<div class="divider" style="border-bottom: solid 1px #450351;"></div>

<div class="container justify-content-center">


<div id="logosarriba" class="row align-middle d-flex justify-content-center mx-auto " style="text-align: center;">

<div class="offset-lg-1 col-xl-2 col-md-12 col-sm-12 logos justify-content-center">
  <img src="../../assets/img/logo_BLT.png">

</div>
<div class="col-xl-2 col-md-2 col-sm-12 logos">
  <img src="../../assets/img/logo_Anatel.png">

</div>
<div class="col-xl-2 col-md-12  col-sm-12 logos">
  <img src="../../assets/img/logo_STM.png">

</div>
<div class="col-xl-2 col-md-12 col-sm-12 logos">
  <img src="../../assets/img/logo_ACS.png">

</div>
<div class="col-xl-2 col-md-12 col-sm-12 logos">
  <img src="../../assets/img/logo_GO.png">

</div>
<div class="col-xl-1 col-sm-0 logos">

</div>


</div>


<div id="logosabajo" class="row align-middle" >

  <div class="offset-lg-1 col-xl-2 col-md-12 col-sm-12 logos justify-content-center">
    <img src="../../assets/img/logo_BWS.png">

  </div>
  <div class="col-xl-2 col-md-2 col-sm-12 logos">
    <img src="../../assets/img/logo_Caleu.png">

  </div>

  <div class="col-xl-2 col-md-12 col-sm-12 logos">
    <img src="../../assets/img/logo_Fluoresencia.png">

  </div>
  <div class="col-xl-2 col-md-12 col-sm-12 logos">
    <img src="../../assets/img/logo_naan.png">

  </div>
  <div class="col-xl-1 col-sm-0 logos">

  </div>

</div>
</div>

<app-gcomments></app-gcomments>
<div  class="divider"></div>

