p{   color: #4C0054;
      font-size: 16px;
      font-family: HelveticaNeve;
      font-weight: 100;
      word-wrap: break-word;
      margin-bottom: 20px;

    }
  a {text-decoration: none;}
 h2{

    color: #4C0054;
    font-size: 2vw;
    font-family: PPMonument;
    font-weight: 900;
    line-height: 40px;
    word-wrap: break-word;


 }
 .w1{font-size: 16px; line-height: 20px;}
 .w2{font-size: 64px; color: #450351;line-height: 56px; }
 .w3{font-size: 56px;    line-height: 56px;}
 .w4{font-size: 64px; color: #450351;line-height: 56px; }
 .w5{font-size: 64px; color: #450351;line-height: 56px;
  font-family: helveticaNeve;

  color: #450351; }

  .w6{font-family:  HelveticaNeve;
    font-size: 40px;
     font-weight:lighter;
     margin-bottom: 8px;
     line-height:32px;
    }
 .logos img{

max-width: 100%;
max-height: 80px;
align-items: bottom;


 }
 .textoportfolio{
   font-family: RiskGroteskBold; font-weight: 100;
  color: #450351;

 }


.divider{

    height: 100px;
}
.btn-outline-primary{

border-radius: 1.3em;
margin-top: 0.2em;
margin-bottom: 0.2em;

}

.card{

    border: none;
}
.maintext{

  margin-bottom: 0px;  padding-top:8vw; padding-left: 2vw; padding-bottom: 4vw; padding-right: 8vw;
}

#logosarriba{

  margin-top: 60px;
}
#logosabajo{

  margin-bottom: 60px;
}
#logoscelular{
  display: none!important;
}
@media only screen and (max-width: 1770px) {

  .w1{font-size: 14px; line-height: 19px;}
  .w2{font-size: 63px; color: #450351;line-height: 68px; }
  .w3{font-size: 55px;    line-height: 68px;}
  .w4{font-size: 64px; color: #450351;line-height: 68px; }
  .w5{font-size: 63px; color: #450351;line-height: 68px;}
   .w6{font-size: 39px; line-height:19px; }




  }
  @media only screen and (max-width: 1681px) {

    .w1{font-size: 14px; line-height: 18px;}
    .w2{font-size: 56px; line-height: 64px; }
    .w3{font-size: 55px;    line-height: 68px;}
    .w4{font-size: 61px; line-height: 64px; }
    .w5{font-size: 60px; line-height: 64px;}
     .w6{font-size: 36px; line-height:18px; }




    }
  @media only screen and (max-width: 1603px) {

    .w1{font-size: 14px; line-height: 18px;}
    .w2{font-size: 50px; line-height: 60px; }
    .w3{font-size: 49px;    line-height: 60px;}
    .w4{font-size: 54px; line-height: 60px; }
    .w5{font-size: 54px; line-height: 60px;}
     .w6{font-size: 30px; line-height:18px; }




    }
  @media only screen and (max-width: 1440px) {


    .maintext{

      margin-bottom: 0px;  padding-top:4vw; padding-left: 0vw; padding-bottom: 4vw; padding-right: 3vw;
    }

  }

  @media only screen and (max-width: 1200px) {

    .w1{font-size: 14px; line-height: 18px;}
    .w2{font-size: 40px; line-height: 40px; }
    .w3{font-size: 39px;  line-height: 40px;}
    .w4{font-size: 44px; line-height: 40px; }
    .w5{font-size: 44px; line-height: 40px;}
     .w6{font-size: 20px; line-height:18px; }
     .highlight{line-height: 40px;}

      .maintext{

        margin-bottom: 0px;  padding-top:2vw; padding-left: 0vw; padding-bottom: 4vw; padding-right: 4vw;
      }


  }



    @media only screen and (max-width: 1060px) {



      .w1{font-size: 14px; line-height: 18px;}
      .w2{font-size: 40px; line-height: 40px; }
      .w3{font-size: 39px;  line-height: 40px;}
      .w4{font-size: 44px; line-height: 40px; }
      .w5{font-size: 44px; line-height: 40px;}
       .w6{font-size: 20px; line-height:18px; }
       .highlight{line-height: 40px;}



      }


@media only screen and (max-width: 768px) {

  #logoscelular{
    display: flex!important;
  }
  #logosabajo{
    display: none!important;
  }

  #logosarriba{

    display: none!important;
  }


  .w1{font-size: 24px; line-height: 30px;}
  .w2{font-size: 68px; line-height: 70px; }
  .w3{font-size: 66px;  line-height: 70px;}
  .w4{font-size: 72px; line-height: 70px; }
  .w5{font-size: 72px; line-height: 70px;}
   .w6{font-size: 40px; line-height:18px; }
   .highlight{line-height: 62px;}
  .maintext{

    margin-bottom: 0px;  padding-top:40px; padding-left: 40px; padding-bottom: 40px; padding-right: 40px;
  }

}
@media only screen and (max-width: 687px) {


  .w1{font-size: 20px; line-height: 22px;}
  .w2{font-size: 60px; line-height: 56px; }
  .w3{font-size: 58px;  line-height: 56px;}
  .w4{font-size: 66px; line-height: 56px; }
  .w5{font-size: 50px; line-height: 56px;}
   .w6{font-size: 34px; line-height:22px; }
   .highlight{line-height: 62px;}}

@media only screen and (max-width: 576px) {


  .w1{font-size: 20px; line-height: 18px;}
  .w2{font-size: 60px; line-height: 32px; }
  .w3{font-size: 38px;  line-height: 32px;}
  .w4{font-size: 40px; line-height: 32px; }
  .w5{font-size: 40px; line-height: 32px;}
   .w6{font-size: 34px; line-height:18px; }
   .highlight{line-height: 62px;}
  .maintext{

    margin-bottom: 0px;  padding-top:40px; padding-left: 40px; padding-bottom: 40px; padding-right: 40px;
  }

}

@media only screen and (max-width: 400px) {


  .w1{font-size: 16px; line-height: 16px;}
  .w2{font-size: 40px; line-height: 28px; }
  .w3{font-size: 26px;  line-height: 28px;}
  .w4{font-size: 30px; line-height: 28px; }
  .w5{font-size: 30px; line-height: 28px;}
   .w6{font-size: 26px; line-height:16px; }
   .highlight{line-height: 42px;}
  .maintext{

    margin-bottom: 0px;  padding-top:40px; padding-left: 40px; padding-bottom: 40px; padding-right: 40px;
  }

}
@media only screen and (max-width: 375px) {


  .w1{font-size: 16px; line-height: 16px;}
  .w2{font-size: 40px; line-height: 20px; }
  .w3{font-size: 29px;  line-height: 20px;}
  .w4{font-size: 35px; line-height: 20px; }
  .w5{font-size: 36px; line-height: 20px;}
   .w6{font-size: 28px; line-height:22px; }
   .highlight{line-height: 42px;}
  .maintext{

    margin-bottom: 0px;  padding-top:40px; padding-left: 40px; padding-bottom: 40px; padding-right: 40px;
  }

}
