

<!-- Modal 10-->
<div class="modal fade modal-xl" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

<div class=" row justify-content-center align-items-center" style="margin-bottom: 40px; margin-top: 40px;">
  <h2 class="text-center col-12 m-0 px-3 py-2" style="font-family:PPMonument; font-size: 48px; ">Studio Mala Maña</h2>
  <p class="text-center text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2">Store Design and Fit Out</p>
<br> <p style="padding-left: 10%; padding-right: 10%;">
  Independent brand collective Studio Mala Maña, reached out to Pink Dog to craft their newest retail space. Stepping into a shopping centre was a  pivotal moment in their expansion of Studio Mala Maña, so it was important to get the store design just right.<br>

Our approach? Think modular with a wide range of products on offer, versatility was important and a modular approach meant that the layout could change to accommodate the products. We unleashed an intense red throughout the store, powder-coating steel frames and mesh of product displays, sales counter and windows, while making a feature of it on the store's rear wall, complimented by raw concrete walls that achieve the sought-after industrial chic aesthetic. Lighting was important in showcasing the diverse range of clothing brands and artwork the store aims to offer, ensuring each piece is as striking as the next.
</p>
<img src="../../../assets/img/portfolio/04Studio Mala Mana/architecture-branding-store-colour-.png" class="modalimg" alt="architecture-branding-store-colour">
<img src="../../../assets/img/portfolio/04Studio Mala Mana/facade-interior-design-shop-fitout.png" class="modalimg" alt="facade-interior-design-shop-fitout">
<img src="../../../assets/img/portfolio/04Studio Mala Mana/furniture-counter-shop-logo-signage.png" class="modalimg" alt="furniture-counter-shop-logo-signage">
<img src="../../../assets/img/portfolio/04Studio Mala Mana/furniture-suit-flower-metal frame-design.png" class="modalimg" alt="furniture-suit-flower-metal frame-design">
<img src="../../../assets/img/portfolio/04Studio Mala Mana/interior-store-red-metal-work.png" class="modalimg" alt="interior-store-red-metal-work">
<img src="../../../assets/img/portfolio/04Studio Mala Mana/render-isometric-store-layout-technical.png" class="modalimg" alt="render-isometric-store-layout-technical">
<img src="../../../assets/img/portfolio/04Studio Mala Mana/Store-plant-furniture-retail-architecture.png" class="modalimg" alt="Store-plant-furniture-retail-architecture">



      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
