<div id="carouselExampleFade2" class="carousel slide carousel-fade">
  <div class="carousel-inner">



    <div class="carousel-item active">
      <video controls class="min-vh-50" style="object-fit: cover; object-position: 50% 50%; z-index: 990; width: 100%;">
        <source src="../../../assets/los_teves.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="carousel-item">
      <video controls class="min-vh-50" style="object-fit: cover; object-position: 50% 50%; z-index: 990;width: 100%;">
        <source src="../../../assets/los_teves2.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>


    <div class="carousel-item">
      <video controls class="min-vh-50" style="object-fit: cover; object-position: 50% 50%; z-index: 990;width: 100%;">
        <source src="../../../assets/los_teves3.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>

    <!-- Añadir más elementos del carrusel aquí -->
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"><img src="../../../assets/img/portfolio/sliderarrow.svg" style="margin-top: 10px; transform: rotate(180);"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"><img src="../../../assets/img/portfolio/sliderarrow.svg" style="margin-top: 10px;"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
