

<!-- Modal 10-->
<div class="modal fade modal-xl" id="exampleModal15" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

<div class=" row justify-content-center align-items-center" style="margin-bottom: 40px; margin-top: 40px;">
  <h2 class="text-center col-12 m-0 px-3 py-2" style="font-family:PPMonument; font-size: 48px; ">St George Business Chamber</h2>
  <p class="text-center text-dark fs-6 fw-light font-family-Helvetica Neue col-12 m-0 px-3 py-2 pb-4">Annual Charity Gala Dinner</p>
<br> <p style="padding-left: 10%; padding-right: 10%;">
  As an active member of the St George Business chamber, it was only natural that Pink Dog Studio would help out by shooting the chamber's Annual Charity Gala dinner. It was important to capture the festive mood of the night along with photos of keynote speakers NSW Premier Chris Minns, Federal member for Barton and Indigenous Australians Linda Burney, Georges River council Mayor Sam Elmir, and St George Business Chamber President Tony Baddiour and others. The photos help raise awareness of the Autism Community Network and to celebrate the great work they do to support families of autistic children.
</p>
  <img src="../../../assets/img/portfolio/15.St George Business Chamber/gala-photo-film-event-portrait.jpg" class="modalimg" alt="gala-photo-film-event-portrait">
  <img src="../../../assets/img/portfolio/15.St George Business Chamber/gala-photography-headshot-portrait.jpg" class="modalimg" alt="Motion-video-animation-after-effect">
  <img src="../../../assets/img/portfolio/15.St George Business Chamber/group-shot-photo-event-gala.jpg" class="modalimg" alt="group-shot-photo-event-gala">
  <img src="../../../assets/img/portfolio/15.St George Business Chamber/photo-direction-equipment-camera-event.jpg" class="modalimg" alt="photo-direction-equipment-camera-event">
  <img src="../../../assets/img/portfolio/15.St George Business Chamber/photographer-camera-flash-light-event.jpg" class="modalimg" alt="photographer-camera-flash-light-event">
  <img src="../../../assets/img/portfolio/15.St George Business Chamber/red-carpet-photoshot-camera-photography.jpg" class="modalimg" alt="red-carpet-photoshot-camera-photography">






      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
